Repository linkerd/linkerd2, pull requests merged in 2018-12, with the labels that each got.

#1899 Adjust proxy, Prometheus, and Grafana probes
  cli/cmd/inject.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/install/template.go
  controller/proxy-injector/fake/data/config-proxy.yaml
  controller/proxy-injector/fake/data/inject-enabled-response.yaml
  controller/proxy-injector/fake/data/inject-no-labels-response.yaml
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
  pkg/healthcheck/healthcheck.go
Labels: area/cli, area/controller

#1906 Upgrade to material-ui 3.6.1
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1907 Display the correct tap/top command in the Tap/Top pages
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/Top.jsx
Labels: area/web

#1904 Add filtering by job in stat, tap, top; fix panic
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/top.go
  cli/install/template.go
  controller/api/public/prometheus.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  controller/tap/server.go
  pkg/k8s/k8s.go
  pkg/k8s/labels.go
  test/install_test.go
  test/tap/testdata/tap_application.yaml
Labels: area/cli, area/controller, bug, enhancement

#1893 Add ability to download a service profile template from the web ui
  cli/cmd/profile.go
  cli/cmd/profile_test.go
  pkg/profiles/profiles.go
  pkg/profiles/template.go
  pkg/profiles/test_helper.go
  web/srv/handlers.go
  web/srv/handlers_test.go
  web/srv/server.go
Labels: area/controller

#1917 Move the determining of display order into the cli query module
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/QueryToCliCmd.test.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/util/CliQueryUtils.js
Labels: area/web

#1925 proxy-api: Expose a flag to control auto-h2-upgrade
  controller/api/proxy/endpoint_listener.go
  controller/api/proxy/server.go
  controller/cmd/proxy-api/main.go
Labels: area/controller

#1918 Add a tabbed view to the resource detail page for Top and Routes
  web/app/js/components/BaseTable.jsx
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/TopRoutesModule.jsx
  web/app/js/components/TopRoutesTable.jsx
  web/app/js/components/TopRoutesTabs.jsx
  web/app/js/components/util/CliQueryUtils.js
  web/app/js/components/util/MetricUtils.jsx
Labels: area/web

#1933 Add a form to create and download service profiles in the web UI
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/util/ApiHelpers.jsx
Labels: area/web

#1934 Add input validation for profile command
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/profile.go
  cli/cmd/profile_test.go
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli

#1937 Show Top Routes in sidebar, change form to query any resource
  web/app/js/components/Navigation.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/util/MetricUtils.jsx
Labels: area/web

#1963 Miscellaneous improvements to the Top Routes UX
  web/app/js/components/BaseTable.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/TopRoutesModule.jsx
  web/app/js/components/TopRoutesTable.jsx
  web/app/js/components/util/MetricUtils.jsx
Labels: area/web

#1985 Update QueryToCliCmd to include non-default controller namespaces
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/QueryToCliCmd.test.jsx
Labels: area/web

#1989 proxy: bump version for TLS skipped ports fix
  bin/docker-build-proxy
Labels: area/build, area/proxy

#1995 Start reducing webpack bundle size, fix minor bugs
  web/app/css/styles.css
  web/app/js/components/Navigation.jsx
  web/app/js/components/NavigationResource.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/QueryToCliCmd.test.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/util/SuccessRateDot.jsx
  web/app/package.json
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#2008 Fix update neighbors function not being passed in to top module
  web/app/js/components/ResourceDetail.jsx
Labels: area/web, bug

#2002 Remove less and post-css from the project
  web/app/css/styles.css
  web/app/css/svg-wrappers.css
  web/app/js/components/Octopus.jsx
  web/app/js/components/Version.jsx
  web/app/package.json
  web/app/postcss.config.js
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#1966 Add rules_file loading into prometheus
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/install/template.go
Labels: area/cli

#2020 Add go-report-card badge to README.md
  README.md
Labels: area/docs
