Repository linkerd/linkerd2, pull requests merged in 2018-08, with the labels that each got.

#1377 Update inject cmd to read from folder
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject-filepath/resources/db/redis.yaml
  cli/cmd/testdata/inject-filepath/resources/nginx.yaml
Labels: area/cli, review/ready

#1394 Read all bytes of message length header
  controller/api/public/proto_over_http.go
Labels: review, reviewable

#1358 Increase outbound router capacity for Prometheus pod's proxy
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/root.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
Labels: area/controller, area/production, area/scale, review, reviewable

#1380 add ProtocolHint to destination addrs if managed by linkerd
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/destination/listener.go
  controller/script/destination-client/main.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review, reviewable

#1400 Use stable version for linkerd2-proxy-api dep
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review, reviewable

#1391 Tap: Make use of the Web UI to render tap events in a table
  web/app/css/styles.css
  web/app/css/tap.css
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/util/Utils.js
  web/srv/api_handlers.go
Labels: area/web, review, reviewable

#1402 Update prometheus to only scrape proxies in the same mesh
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/ca/controller.go
  controller/destination/listener.go
  pkg/k8s/labels.go
Labels: review, reviewable

#1398 Add client-side filters to the tap columns in the web UI
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
Labels: area/web, review, reviewable

#1410 Remove node scrape target, kubernetes grafana dashboard
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  grafana/dashboards/kubernetes.json
Labels: review, reviewable

#1411 Restore linkerd_io_control_plane* labels
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  doc/prometheus.md
  doc/proxy-metrics.md
  grafana/dashboards/health.json
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
Labels: review, reviewable

#1409 Tap Web UI: add autocomplete for some authorities
  web/app/js/components/Tap.jsx
Labels: area/web, review

#1414 Fix namespace inconsistency in prometheus doc
  doc/prometheus.md
Labels: review, reviewable

#1412 Add a link to the Tap page in the sidebar
  web/app/js/components/Sidebar.jsx
Labels: area/web, review, reviewable

#1413 Add changelog notes for release v18.8.1
  CHANGES.md
Labels: review, reviewable

#1416 Rename mailing lists, remove all remaining conduit references
  README.md
  cli/cmd/install.go
  doc/get-involved.md
  doc/getting-started.md
  doc/roadmap.md
  web/app/css/styles.css
Labels: review, reviewable

#1420 Fix Destination returning no endpoints for single unnamed container port
  controller/destination/endpoints_watcher.go
  controller/destination/endpoints_watcher_test.go
Labels: area/controller, bug, review

#1415 Add additional validation for stat command-line arguments
  cli/cmd/stat.go
  cli/cmd/stat_test.go
Labels: area/cli, area/usability, review, reviewable

#1395 Changing the statusText to be an object with more fields, then displa…
  web/app/js/components/ErrorBanner.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/Version.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/withREST.jsx
  web/app/test/ApiHelpersTest.jsx
  web/app/test/ResourceListTest.jsx
  web/app/test/ServiceMeshTest.jsx
  web/app/test/VersionTest.jsx
Labels: review

#1428 Better CLI error messages when control plane is unavailable
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/dashboard_test.go
  cli/cmd/get.go
  cli/cmd/root.go
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/version.go
  controller/api/public/client.go
  controller/api/public/client_test.go
  controller/api/public/grpc_server.go
  controller/api/public/http_server_test.go
  controller/api/public/proto_over_http.go
  controller/api/public/proto_over_http_test.go
  pkg/healthcheck/grpc.go
  pkg/k8s/api.go
  test/testdata/check.golden
  web/main.go
Labels: review

#1432 Fix tap start/stop button not toggling at the right time
  web/app/js/components/Tap.jsx
Labels: area/web, review, reviewable

#1443 Fix display of Tap errors into the ErrorBanner component
  web/app/js/components/ErrorBanner.jsx
  web/app/js/components/ErrorModal.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/Tap.jsx
Labels: area/web, review, reviewable

#1434 Add source metadata to Tap server tap events
  controller/api/util/api_utils.go
  controller/cmd/tap/main.go
  controller/tap/server.go
  pkg/addr/addr.go
Labels: area/cli, area/controller, area/telemetry, review, reviewable

#1442 Add inbound destination label hydration to Tap server
  controller/tap/server.go
Labels: area/controller, area/telemetry, review, reviewable

#1446 Refactor Tap Form into its own component
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryCliCmd.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/util/TapUtils.js
Labels: area/web, review, reviewable

#1435 [RFC] linkerd top
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/root.go
  cli/cmd/top.go
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review

#1466 Add a meshed column to metrics tables in the web UI
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/MetricUtilsTest.js
  web/app/test/MetricsTableTest.js
Labels: review, reviewable

#1476 Add resource detail skeleton page
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/web, review, reviewable

#1485 Remove the ScatterPlot code from /web
  web/app/css/line-graph.css
  web/app/css/list.css
  web/app/css/scatterplot.css
  web/app/css/version.css
  web/app/js/components/LineGraph.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ScatterPlot.jsx
  web/app/js/components/Version.jsx
Labels: area/web, review, reviewable

#1482 Add grafana icon to links, refactor svgs, link to ResourceDetail component
  web/app/css/styles.css
  web/app/css/svg-wrappers.css
  web/app/img/green_check.png
  web/app/img/grey_check.png
  web/app/img/logo-only.svg
  web/app/img/red_check.png
  web/app/img/reversed_logo.png
  web/app/img/sidebar-bg.png
  web/app/img/word-logo.svg
  web/app/js/components/GrafanaLink.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/SvgWrappers.jsx
  web/app/package.json
  web/app/test/MetricsTableTest.js
  web/app/yarn.lock
Labels: area/web, review, reviewable

#1479 Upgrade to dep 0.5.0, go 1.10.3
  .gitignore
  .travis.yml
  Dockerfile-go-deps
  Gopkg.lock
  bin/dep
  cli/Dockerfile-bin
  controller/Dockerfile
  proxy-init/Dockerfile
  proxy-init/integration_test/iptables/Dockerfile-tester
  web/Dockerfile
Labels: review, reviewable

#1437 Add resource metadata to Tap CLI output
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  cli/cmd/testdata/tap_busy_output.golden
  cli/cmd/testdata/tap_busy_output_wide.golden
  controller/api/util/api_utils.go
  pkg/k8s/k8s.go
Labels: area/cli, area/telemetry, review, reviewable

#1492 Move all healthcheck-related code to pkg/healthcheck
  cli/cmd/check.go
  cli/cmd/check_test.go
  cli/cmd/root.go
  cli/cmd/testdata/check_output.golden
  cli/cmd/testdata/status_busy_output.golden
  controller/api/public/client.go
  controller/api/public/client_test.go
  pkg/healthcheck/grpc.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/api.go
  pkg/k8s/test_helper.go
  pkg/version/version.go
  pkg/version/version_test.go
  test/testdata/check.golden
Labels: review, reviewable

#1497 Add --pre flag for linkerd check command
  cli/cmd/check.go
  cli/cmd/root.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/api.go
Labels: review, reviewable

#1496 Fix missing ns/svc labels in metadata hydrated by Tap server
  controller/api/util/api_utils.go
  controller/tap/server.go
Labels: area/cli, area/telemetry, bug, review

#1491 Add pod table to resource detail page
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/util/Utils.js
Labels: area/web, review, reviewable

#1498 Add check for running pods in control plane namepsace
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/api.go
  test/testdata/check.golden
Labels: review

#1494 Add the basis for an octopus graph to resource detail page
  web/app/css/octopus.css
  web/app/css/service-mesh.css
  web/app/css/styles.css
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/js/components/util/Utils.js
  web/app/test/MetricUtilsTest.js
Labels: area/web, review, reviewable

#1501 Start tweaking the look and feel of the Octopus graph
  web/app/css/octopus.css
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
Labels: area/web, review, reviewable

#1503 Add --wait flag for CLI check and dashboard commands
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/get.go
  cli/cmd/root.go
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/top.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
Labels: review, reviewable

#1506 Update CHANGES.md for v18.8.2 release
  CHANGES.md
Labels: review, reviewable

#1511 Remove doc dir in favor of linkerd/website repo
  README.md
  doc/README.md
  doc/adding-your-service.md
  doc/automatic-tls.md
  doc/debugging-an-app.md
  doc/get-involved.md
  doc/getting-started.md
  doc/images/dashboard-data-plane.png
  doc/images/dashboard.png
  doc/images/emojivoto-poop.png
  doc/overview.md
  doc/prometheus.md
  doc/proxy-metrics.md
Labels: review, reviewable

#1519 Add success rate visuals to the octopus graph
  web/app/css/octopus.css
  web/app/css/styles.css
  web/app/js/components/Octopus.jsx
Labels: area/web, review, reviewable

#1509 Document tps-reports
  web/app/js/components/Tap.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/srv/server.go
Labels: review, reviewable

#1530 Add ReadinessProbe and LivenessProbe to injected proxy containers
  cli/cmd/inject.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
Labels: area/cli, area/controller, review

#1500 Add kubernetes style sidebar
  web/app/css/sidebar.css
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/SidebarTest.jsx
  web/app/test/VersionTest.jsx
Labels: review, reviewable

#1535 Only tap pods that are meshed
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/cmd/tap/main.go
  controller/tap/server.go
  controller/tap/server_test.go
Labels: area/controller, review, reviewable

#1528 Add linkerd check flag to run data plane checks
  cli/cmd/check.go
  pkg/healthcheck/healthcheck.go
Labels: area/cli, review, reviewable

#1531 Increase default max-rps for tap and top
  cli/cmd/tap.go
  cli/cmd/top.go
  controller/tap/server.go
Labels: review, reviewable

#1540 Perform linkerd version check once upon page load
  web/app/js/components/Sidebar.jsx
  web/app/test/SidebarTest.jsx
  web/app/test/fixtures/namespaces.json
Labels: area/web, review

#1539 Better visual distinction of inline code snippet in mesh completion message
  web/app/css/service-mesh.css
Labels: area/usability, area/web

#1536 Miscellaneous small web UI fixes
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/util/Utils.js
Labels: area/web, review, reviewable

#1548 Fix Version Check
  web/app/js/components/Sidebar.jsx
Labels: area/web, review

#1551 Allow cookies for versioncheck
  web/app/js/components/Sidebar.jsx
Labels: review, reviewable

#1556 Fix sidebar resource names not appearing
  web/app/js/components/Sidebar.jsx
Labels: area/web, review

#1559 Fix query string in version url
  web/app/js/components/Sidebar.jsx
Labels: area/web, review, reviewable

#1560 Increase MaxRps in Tap server, remove default setting from Web
  controller/tap/server.go
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/util/TapUtils.jsx
  web/srv/api_handlers.go
Labels: area/controller, area/web, review, reviewable

#1562 Update CHANGES.md for v18.8.4 release
  CHANGES.md
Labels: review, reviewable

#1565 Remove the SocialLinks from the Sidebar
  web/app/css/sidebar.css
  web/app/js/components/Sidebar.jsx
  web/app/js/components/SocialLinks.jsx
  web/app/js/components/Version.jsx
Labels: area/web, review

#1563 Don't start a Top in the resource detail page if the resource is unmeshed
  web/app/js/components/AddResources.jsx
  web/app/js/components/ResourceDetail.jsx
Labels: area/web, review, reviewable

#1558 Tap the entire namespace if no resource is specified
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryCliCmd.jsx
  web/app/js/components/TapQueryForm.jsx
Labels: area/web, review, reviewable

#1570 Add data plane check to validate proxies are ready
  cli/cmd/check.go
  cli/cmd/root.go
  cli/cmd/stat.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/api.go
  test/install_test.go
  test/testdata/check.proxy.golden
Labels: review, reviewable

#1569 Link the resources in the Tap and Top tables to their detail pages
  web/app/js/components/Octopus.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/TapUtils.jsx
Labels: area/web, review, reviewable
