Repository linkerd/linkerd2, pull requests merged in 2018-05, with the labels that each got.

#881 Fix metrics constructor in benches
  proxy/benches/record.rs
Labels: area/proxy, area/telemetry, area/test

#882 proxy: Do not run tests in proxy Dockerfile
  BUILD.md
  bin/docker-build-proxy
  proxy/Dockerfile
Labels: area/build, area/proxy

#885 proxy: Fix Tap ID generation
  proxy/src/control/observe.rs
  proxy/src/telemetry/tap/mod.rs
Labels: area/proxy, area/telemetry

#883 proxy: add `bench` tests to CI
  .travis.yml
Labels: area/proxy

#890 Add unit tests for `metrics::record`
  proxy/src/telemetry/metrics/histogram.rs
  proxy/src/telemetry/metrics/http.rs
  proxy/src/telemetry/metrics/record.rs
  proxy/src/telemetry/metrics/transport.rs
Labels: area/proxy, area/telemetry, area/test

#892 proxy: Upgrade tower dependencies
  Cargo.lock
  proxy/Cargo.toml
  proxy/router/Cargo.toml
  proxy/router/src/lib.rs
  proxy/src/bind.rs
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
  proxy/src/control/observe.rs
  proxy/src/inbound.rs
  proxy/src/lib.rs
  proxy/src/map_err.rs
  proxy/src/outbound.rs
  proxy/src/telemetry/sensor/http.rs
  proxy/src/telemetry/sensor/mod.rs
  proxy/src/timeout.rs
  proxy/src/tower_fn.rs
  proxy/src/transparency/client.rs
  proxy/src/transparency/glue.rs
  proxy/src/transparency/server.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/mod.rs
Labels: area/proxy

#894 proxy: Refactor router implementation
  proxy/router/src/lib.rs
Labels: area/proxy

#898 proxy: Limit Router cache size
  proxy/router/src/lib.rs
  proxy/src/config.rs
  proxy/src/lib.rs
Labels: area/proxy

#895 Modify the Stat endpoint to also return the number of failed conduit pods
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/gen/public/api.pb.go
  controller/k8s/lister.go
  controller/k8s/lister_test.go
  controller/script/simulate-proxy/main.go
  controller/tap/server.go
  proto/public/api.proto
  web/app/js/components/util/MetricUtils.js
  web/app/test/fixtures/deployRollup.json
Labels: area/telemetry

#902 proxy: Track SingleUse services against router capacity
  proxy/router/src/lib.rs
  proxy/src/bind.rs
  proxy/src/inbound.rs
  proxy/src/outbound.rs
Labels: area/proxy

#897 Make the sidebar icon based and collapsed by default
  web/app/css/sidebar.css
  web/app/css/styles.css
  web/app/css/version.css
  web/app/img/logo.png
  web/app/img/logo_only.png
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/Version.jsx
  web/app/js/index.js
  web/app/test/VersionTest.jsx
Labels: area/web

#900 Fix bug where GetPodsFor(pod) was returning all pods in a namespace
  controller/k8s/lister.go
  controller/k8s/lister_test.go
Labels: area/controller, area/telemetry

#909 proxy: Parse units with duration configurations
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/lib.rs
  proxy/src/transport/connect.rs
  proxy/tests/discovery.rs
Labels: area/proxy

#749 rfc: Make DestinationServiceQuery generic
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
  proxy/src/control/remote_stream.rs
Labels: review

#891 Reuse the proxy's build stage across CI runs
  .travis.yml
  bin/docker-build-proxy
Labels: area/build, area/proxy

#915 proxy: Remove try_bind_route! macro
  proxy/router/src/lib.rs
Labels: area/proxy

#886 Made inject aware of the List type.
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.input.yml
Labels: area/cli

#910 Adding statefulsets to inject
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.input.yml
  doc/proxy-metrics.md
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
Labels: area/cli, review

#913 router: Store `recognize` outside of lock
  proxy/router/src/lib.rs
  proxy/src/control/mod.rs
  proxy/src/inbound.rs
  proxy/src/outbound.rs
Labels: area/proxy

#920 proxy/router: Create a separate `cache` module
  proxy/router/src/cache.rs
  proxy/router/src/lib.rs
  proxy/src/inbound.rs
  proxy/src/outbound.rs
Labels: area/proxy

#926 Start polling for new resource type immediately after switching tabs
  web/app/js/components/ResourceList.jsx
Labels: area/web

#927 Upgrade React to 16.3.2
  web/app/yarn.lock
Labels: area/web

#935 CLI: Fix validation for service stats
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
Labels: area/cli, area/telemetry

#942 proxy: Update to Rust 1.26.0
  proxy/Dockerfile
Labels: area/proxy

#928 Modify the Stat API to handle requests for resource type "all"
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  pkg/k8s/k8s.go
Labels: area/cli, area/controller

#939 proxy: Make `outbound_updates_newer_services` test forward-compatible
  proxy/tests/discovery.rs
Labels: area/proxy, area/test

#936 proxy: Add a lazy version of ThreadRng
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/rng.rs
Labels: area/proxy

#953 Use menu links correctly (don't repeat icon and text links)
  web/app/css/sidebar.css
  web/app/js/components/Sidebar.jsx
Labels: area/web

#938 proxy: Move absolute URI detection to `bind::Protocol`
  proxy/src/bind.rs
  proxy/src/inbound.rs
  proxy/src/transparency/client.rs
  proxy/src/transparency/h1.rs
Labels: area/proxy

#959 Allow the dashboard to be served when a namespace path is accessed directly
  web/app/js/components/Sidebar.jsx
  web/srv/handlers.go
  web/srv/server.go
  web/templates/app.tmpl.html
Labels: area/web

#956 proxy: Drop destination resolutions when unused
  proxy/src/control/destination/background.rs
  proxy/src/control/destination/mod.rs
Labels: area/proxy

#960 Add a controller namespace label to the destination service endpoints
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
Labels: area/controller

#944 proxy: Upgrade Conduit to use the new version of Tokio
  Cargo.lock
  Cargo.toml
  proxy/Cargo.toml
  proxy/src/bind.rs
  proxy/src/connection.rs
  proxy/src/control/destination/background.rs
  proxy/src/control/mod.rs
  proxy/src/dns.rs
  proxy/src/inbound.rs
  proxy/src/lib.rs
  proxy/src/logging.rs
  proxy/src/main.rs
  proxy/src/outbound.rs
  proxy/src/signal.rs
  proxy/src/task.rs
  proxy/src/telemetry/control.rs
  proxy/src/telemetry/metrics/serve.rs
  proxy/src/telemetry/sensor/mod.rs
  proxy/src/telemetry/sensor/transport.rs
  proxy/src/timeout.rs
  proxy/src/transparency/client.rs
  proxy/src/transparency/glue.rs
  proxy/src/transparency/h1.rs
  proxy/src/transparency/server.rs
  proxy/src/transparency/tcp.rs
  proxy/src/transport/connect.rs
  proxy/src/transport/so_original_dst.rs
  proxy/tests/support/client.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/mod.rs
  proxy/tests/support/proxy.rs
  proxy/tests/support/server.rs
  proxy/tests/support/tcp.rs
Labels: area/proxy

#971 Fix bug in the public-api where conduit stat params were ignored
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
Labels: area/controller, area/telemetry

#969 proxy: Use `impl Trait` to unbox some futures
  proxy/src/connection.rs
  proxy/src/lib.rs
  proxy/src/telemetry/control.rs
  proxy/src/transparency/server.rs
  proxy/src/transparency/tcp.rs
Labels: area/proxy

#963 Consolidate calls to /metrics to use the new resource type all
  web/app/js/components/Namespace.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/ApiHelpersTest.jsx
  web/app/test/MetricUtilsTest.js
  web/app/test/fixtures/allRollup.json
Labels: area/telemetry, area/web

#967 proxy: Remove configure-and-bind-to-executor pattern
  proxy/src/control/destination/background.rs
  proxy/src/control/destination/mod.rs
  proxy/src/control/mod.rs
  proxy/src/dns.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/telemetry/control.rs
  proxy/src/telemetry/mod.rs
  proxy/src/transport/connect.rs
Labels: area/proxy

#977 Enable cheap source-map by default
  web/app/webpack.config.js
Labels: area/web

#980 proxy: Alter telemetry to use discrete instants
  proxy/benches/record.rs
  proxy/controller-grpc/src/lib.rs
  proxy/src/control/pb.rs
  proxy/src/telemetry/event.rs
  proxy/src/telemetry/metrics/record.rs
  proxy/src/telemetry/sensor/http.rs
Labels: area/proxy, area/telemetry

#976 Update babel to use `env` and `react-app` as presets.
  .dockerignore
  .travis.yml
  BUILD.md
  bin/web
  web/Dockerfile
  web/app/.babelrc
  web/app/package.json
  web/app/yarn.lock
Labels: area/build, area/web

#988 Fix the web docker build by running yarn outside of NODE_ENV=production
  .travis.yml
  bin/web
Labels: area/build, area/web

#984 Stop special-casing conduit controller in Grafana
  BUILD.md
  grafana/Dockerfile
  grafana/dashboards/deployment.json
  grafana/dashboards/pod.json
  grafana/dashboards/prometheus-benchmark.json
  grafana/dashboards/replication-controller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
Labels: area/telemetry

#992 Introduce meshed label in simulate-proxy
  controller/script/simulate-proxy/main.go
  doc/proxy-metrics.md
Labels: area/telemetry

#981 proxy: Record HTTP latency at first data frame
  doc/proxy-metrics.md
  proxy/benches/record.rs
  proxy/src/telemetry/event.rs
  proxy/src/telemetry/metrics/record.rs
  proxy/src/telemetry/sensor/http.rs
Labels: area/proxy, area/telemetry

#1001 change init image to root options, for install and inject to use
  cli/cmd/inject.go
  cli/cmd/root.go
Labels: area/cli

#1003 proxy: Record EOS when bodies are dropped
  proxy/src/telemetry/sensor/http.rs
Labels: area/proxy

#983 Add queries to prometheus to determine number of fully meshed requests
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/gen/public/api.pb.go
  proto/public/api.proto
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/MetricUtilsTest.js
  web/app/test/fixtures/deployRollup.json
Labels: area/controller, area/telemetry, area/web

#949 Add an app-wide context for global props.
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/PageHeader.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/AppContext.jsx
  web/app/js/index.js
  web/app/package.json
  web/app/test/testHelpers.jsx
  web/app/yarn.lock
Labels: area/web, review

#996 Add a secured label to the CLI tap responses
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  cli/cmd/testdata/tap_busy_output.golden
Labels: area/controller

#1021 Add meshed label support to Grafana
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
  grafana/dashboards/pod.json
  grafana/dashboards/replication-controller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
Labels: area/telemetry

#1016 Remove RC/Pods/Deploys from the sidebar, replace with namespaces
  web/app/css/sidebar.css
  web/app/js/components/Namespace.jsx
  web/app/js/components/Sidebar.jsx
Labels: area/web

#1025 proxy: Fix missing logging contexts on inbound/outbound
  proxy/src/lib.rs
  proxy/src/transparency/server.rs
Labels: area/proxy

#1006 proxy: Remove dynamic label updating on bound services
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/control/destination/background.rs
  proxy/src/control/destination/endpoint.rs
  proxy/src/control/destination/mod.rs
  proxy/src/control/pb.rs
  proxy/src/ctx/http.rs
  proxy/src/ctx/mod.rs
  proxy/src/ctx/transport.rs
  proxy/src/lib.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/tap/match_.rs
Labels: area/proxy, priority/P0

#1036 Wrap withREST in context for api reference
  web/app/js/components/util/withREST.jsx
Labels: area/web

#1030 proxy: Ensure labels are reliably ordered
  proxy/src/control/destination/background.rs
Labels: area/proxy, area/telemetry

#1038 proxy: Fix bench tests and require bench tests in CI
  .travis.yml
  proxy/Cargo.toml
  proxy/benches/record.rs
Labels: area/proxy

#1037 proxy: Add rich logging contexts
  proxy/src/bind.rs
  proxy/src/control/destination/background.rs
  proxy/src/control/mod.rs
  proxy/src/inbound.rs
  proxy/src/lib.rs
  proxy/src/logging.rs
  proxy/src/outbound.rs
  proxy/src/task.rs
  proxy/src/telemetry/control.rs
  proxy/src/transparency/client.rs
  proxy/src/transparency/server.rs
  proxy/src/transport/connect.rs
Labels: area/proxy

#1042 Add rule for protobuf files in .editorconfig
  .editorconfig
Labels: area/build

#1041 proto: Add TLS verification strategy to WeightedAddr message
  controller/gen/proxy/destination/destination.pb.go
  proto/proxy/destination/destination.proto
  proxy/tests/support/controller.rs
Labels: area/controller, area/proxy, area/security, priority/P0

#1047 Add initial infrastructure for optionally accepting TLS connections
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/connection.rs
  proxy/src/lib.rs
  proxy/src/telemetry/control.rs
  proxy/src/transport/mod.rs
  proxy/src/transport/tls/cert_resolver.rs
  proxy/src/transport/tls/config.rs
  proxy/src/transport/tls/connection.rs
  proxy/src/transport/tls/mod.rs
Labels: area/proxy, area/security, priority/P0
