Repository linkerd/linkerd2, pull requests merged in 2018-09, with the labels that each got.

#1572 Make sidebar scrollbar independently
  web/app/css/sidebar.css
  web/app/css/styles.css
Labels: review, reviewable

#1583 Error display fixes in web for the tap query handling
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ServiceMesh.jsx
  web/srv/api_handlers.go
Labels: area/controller, area/web

#1584 Use url query params for tap/top form filters
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/index.js
  web/app/package.json
  web/app/yarn.lock
Labels: review, reviewable

#1591 Upgrade protobuf to v1.2.0
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/api/proxy/server.go
  controller/destination/server.go
  controller/gen/common/healthcheck/healthcheck.pb.go
  controller/gen/controller/tap/tap.pb.go
  controller/gen/public/public.pb.go
  controller/tap/server.go
  controller/tap/server_test.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review, reviewable

#1605 Add a new namespace overview page with expandable sections
  web/app/css/styles.css
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/web, review

#1612 Fix sidebar dot colours for resources not receiving traffic
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/MetricUtils.js
Labels: area/web, review

#1603 Modify inject to warn when file is un-injectable
  cli/cmd/check.go
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/install.go
  cli/cmd/root.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.stderr
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.stderr
  cli/cmd/testdata/inject-filepath/expected/injected_redis.stderr
  cli/cmd/testdata/inject_gettest_deployment.good.golden.stderr
  controller/api/proxy/server.go
  test/egress/egress_test.go
  test/get/get_test.go
  test/install_test.go
  test/stat/stat_test.go
  test/tap/tap_test.go
  test/testdata/inject.report.golden
  testutil/test_helper.go
Labels: area/cli, review, reviewable

#1616 Improve performance of Top tables
  web/app/js/components/TopModule.jsx
Labels: area/web

#1596 Use Tap data on Resource Detail page to display unmeshed resources
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/util/TapUtils.jsx
Labels: area/web, review

#1614 Add with-source flag to top
  cli/cmd/top.go
Labels: review, reviewable

#1626 Display more helpful websocket errors
  web/app/js/components/Tap.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/util/TapUtils.jsx
Labels: area/web

#1620 Consolidate the source and destination columns in the Tap and Top tables
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
Labels: area/web

#1628 Add small success rate chart to table, misc web tweaks
  web/app/css/octopus.css
  web/app/css/styles.css
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NetworkGraph.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/Utils.js
  web/app/test/MetricUtilsTest.js
  web/app/test/UtilsTest.js
Labels: area/web

#1634 Improve top table to better cope with high RPS traffic
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopModule.jsx
Labels: area/web

#1635 Add data plane check for metrics Prometheus
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/testdata/check.proxy.golden
Labels: area/cli

#1638 Add version check to Grafana dashboard
  grafana/dashboards/deployment.json
  grafana/dashboards/grafana.json
  grafana/dashboards/health.json
  grafana/dashboards/pod.json
  grafana/dashboards/prometheus-benchmark.json
  grafana/dashboards/prometheus.json
  grafana/dashboards/replicationcontroller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
  web/app/js/components/Version.jsx
  web/app/test/VersionTest.jsx
Labels: area/web

#1642 `linkerd check` sends params on version check
  pkg/healthcheck/healthcheck.go
  pkg/version/version.go
  web/app/js/components/Sidebar.jsx
Labels: area/cli

#1641 Move more info from the tap table into the expanded row
  web/app/css/tap.css
  web/app/js/components/TapEventTable.jsx
Labels: area/web

#1663 Remove RPS unit, fix Tap and Top in sidebar
  web/app/css/sidebar.css
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/Utils.js
Labels: area/web

#1649 Ignore websockets error code 1006
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopModule.jsx
Labels: area/web

#1666 Fix errors on the tap form when clearing items
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/TapQueryCliCmd.jsx
Labels: area/web

#1647 Key rows of top table on the resource type being requested
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
Labels: area/web

#1668 Fix react error in Top
  web/app/js/components/TopModule.jsx
Labels: area/web

#1679 Disable the tap start button if no ns/resource is selected
  web/app/js/components/TapQueryForm.jsx
Labels: area/web

#1681 Make zero success rate more noticeable in chart
  web/app/js/components/util/MetricUtils.jsx
Labels: area/web

#1688 Upgrade web deps
  web/app/yarn.lock
Labels: area/web

#1693 Draw SVG octopus arms in ResourceDetail inbound/outbound chart
  web/app/css/octopus.css
  web/app/js/components/Octopus.jsx
  web/app/js/components/util/OctopusArms.jsx
Labels: area/web

#1694 Stop trying to call setState on unmounted Tap and Top components
  web/app/js/components/Tap.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopModule.jsx
Labels: area/web

#1707 Add a --- to the GRPC column in Tap for non-GRPC requests
  web/app/js/components/TapEventTable.jsx
Labels: area/web

#1708 Upgrade react and enzyme
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1709 Add HTTP method to Top display in the CLI and Web UI
  cli/cmd/top.go
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopModule.jsx
Labels: area/cli, area/web

#1712 Better handle not-found resources in the Web UI
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Octopus.jsx
Labels: area/web

#1697 ResourceDetail: display unmeshed sources in the inbound table
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
Labels: area/web
