Repository linkerd/linkerd2, pull requests merged in 2018-06, with the labels that each got.

#974 proxy: Honor TTLs for DNS responses
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/config.rs
  proxy/src/control/destination/background.rs
  proxy/src/dns.rs
  proxy/src/lib.rs
Labels: area/proxy

#1032 proxy: Update `dns` module to use new Trust-DNS `AsyncResolver` API
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/dns.rs
  proxy/src/lib.rs
Labels: area/proxy

#1056 proxy: Reload TLS config on changes
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/connection.rs
  proxy/src/lib.rs
  proxy/src/telemetry/control.rs
  proxy/src/transport/tls/config.rs
  proxy/src/transport/tls/mod.rs
Labels: area/proxy, area/security, priority/P1

#1060 proxy: Change `DEFAULT_OUTBOUND_ROUTER_CAPACITY` from 10,000 to 100
  proxy/src/config.rs
Labels: area/proxy, priority/P0

#1055 Add install flag for sending tls identity info to proxies
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/cmd/destination/main.go
  controller/destination/listener.go
  controller/destination/listener_test.go
  controller/destination/server.go
  controller/script/destination-client/main.go
  pkg/k8s/labels.go
Labels: area/controller, area/security, priority/P0

#1059 Upgrade some of our postcss deps to their latest versions
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1076 proxy: Canonicalize TLS config paths before polling filesystem metadata
  proxy/src/transport/tls/config.rs
Labels: area/proxy, area/security

#1075 Handle an edge case when using bin/web
  BUILD.md
  bin/web
Labels: area/web

#1077 proxy: detect TLS configuration changes using inotify on Linux
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/lib.rs
  proxy/src/transport/tls/config.rs
Labels: area/proxy, area/security

#1078 Display font-awesome icons no matter what URL is originally loaded
  web/app/css/cta.css
  web/app/css/font-awesome.min.css
  web/app/css/styles.css
  web/app/fonts/FontAwesome.otf
  web/app/fonts/fontawesome-webfont.eot
  web/app/fonts/fontawesome-webfont.svg
  web/app/fonts/fontawesome-webfont.ttf
  web/app/fonts/fontawesome-webfont.woff
  web/app/fonts/fontawesome-webfont.woff2
Labels: area/web

#1052 proxy: More DNS cleanup
  proxy/src/dns.rs
Labels: area/proxy

#1087 proxy: Forward TLS config to client watches
  proxy/src/lib.rs
  proxy/src/transport/tls/config.rs
Labels: area/proxy, area/security

#1080 proxy: Use a PeakEWMA outbound load balancer
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/rng.rs
Labels: area/proxy

#1086 Fix conduit health grafana dashboard
  grafana/dashboards/health.json
Labels: area/telemetry

#1089 Remove the ⚠️ emoji from non-TLS grafana stat labels
  grafana/dashboards/deployment.json
  grafana/dashboards/pod.json
  grafana/dashboards/replication-controller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
Labels: area/telemetry

#1088 CLI: print resources in the same order every time `stat all` is run
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  pkg/k8s/k8s.go
Labels: area/cli

#1093 proxy: Update tower-balance
  Cargo.lock
Labels: area/proxy

#1105 Move from /api/stat to /api/tps-reports
  web/app/js/components/util/ApiHelpers.jsx
  web/app/test/ApiHelpersTest.jsx
  web/srv/server.go
Labels: area/web

#1102 Add a script for running proxy tests in Docker
  BUILD.md
  bin/docker-test-proxy
Labels: area/build, area/proxy

#1108 Upgrade enzyme-context-patch to its latest version
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1107 Fix unbound `DOCKER_TRACE` var in `bin/docker-test-proxy`
  bin/docker-test-proxy
Labels: area/build, area/proxy, area/test

#1115 proxy: Refactor `convert` from crate to module
  Cargo.lock
  Cargo.toml
  proxy/Cargo.toml
  proxy/controller-grpc/Cargo.toml
  proxy/controller-grpc/src/lib.rs
  proxy/convert/Cargo.toml
  proxy/src/control/observe.rs
  proxy/src/convert.rs
  proxy/src/lib.rs
  proxy/src/telemetry/tap/match_.rs
  proxy/tests/support/mod.rs
Labels: area/proxy

#1122 proxy: Fix docker build
  proxy/Dockerfile
Labels: area/build, area/proxy

#1121 Add readiness/liveness checks for third party components
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
Labels: area/controller, area/production

#1120 proto: Use explicit `go_package` option
  bin/protoc-go.sh
  controller/gen/common/common.pb.go
  controller/gen/common/healthcheck/healthcheck.pb.go
  controller/gen/controller/tap/tap.pb.go
  controller/gen/proxy/destination/destination.pb.go
  controller/gen/proxy/tap/tap.pb.go
  controller/gen/public/public.pb.go
  proto/common.proto
  proto/common/healthcheck.proto
  proto/controller/tap.proto
  proto/proxy/destination.proto
  proto/proxy/tap.proto
  proto/public.proto
  proxy/Dockerfile
  proxy/controller-grpc/build.rs
Labels: area/build, area/controller

#1125 proxy: Update `rand` to 0.5.1
  .gitattributes
  Cargo.lock
  proxy/Cargo.toml
Labels: area/proxy

#1119 proxy: Fix Inotify falling back to polling when files don't exist yet
  Cargo.lock
  bin/ares-sync
  bin/docker-test-proxy
  proxy/Cargo.toml
  proxy/src/fs_watch.rs
  proxy/src/lib.rs
  proxy/src/stream.rs
  proxy/src/task.rs
  proxy/src/transport/tls/cert_resolver.rs
  proxy/src/transport/tls/config.rs
  proxy/src/transport/tls/mod.rs
Labels: area/proxy, area/security

#1130 Display proxy container errors in the Web UI
  web/app/css/service-mesh.css
  web/app/js/components/ErrorModal.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/MetricUtilsTest.js
  web/app/test/fixtures/deployRollup.json
Labels: area/web

#1137 proxy: Attempt to load TLS settings immediately prior to starting watch
  proxy/src/transport/tls/config.rs
Labels: area/proxy, bug

#1142 Enable get for nodes/proxy for Prometheus RBAC
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
Labels: area/cli, area/telemetry, bug

#1092 Grafana: remove fill and stack from individual resource breakouts
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
  grafana/dashboards/pod.json
  grafana/dashboards/replication-controller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
Labels: area/telemetry

#1138 Upgrade to webpack 4 and webpack-dev-server 3
  web/app/package.json
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#1149 proxy: Upgrade h2 to 0.1.10
  Cargo.lock
  proxy/Cargo.toml
Labels: area/proxy

#1050 proxy: Add `tls="true"` metric label to connections accepted with TLS
  proxy/benches/record.rs
  proxy/src/bind.rs
  proxy/src/connection.rs
  proxy/src/ctx/http.rs
  proxy/src/ctx/mod.rs
  proxy/src/ctx/transport.rs
  proxy/src/inbound.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/record.rs
  proxy/src/transparency/server.rs
  proxy/src/transparency/tcp.rs
Labels: area/proxy, area/telemetry, priority/P1

#1150 Truncate very long error messages, small tweaks to error messages
  web/app/css/service-mesh.css
  web/app/js/components/ErrorModal.jsx
Labels: area/web

#1144 proxy: Clarify Outbound::recognize
  proxy/src/outbound.rs
Labels: area/proxy, priority/P2

#1154 Don't panic on stats that aren't included in StatAllResourceTypes
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  test/stat/stat_test.go
Labels: area/cli

#1163 Don't allow api stat requests for named resources in --all-namespaces
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  controller/api/util/api_utils.go
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/ApiHelpersTest.jsx
  web/srv/api_handlers.go
Labels: area/cli, area/web

#978 Enable optional parallel build of docker images
  bin/docker-build
Labels: area/build

#1126 proxy: add HTTP/1.1 Upgrade support automatically
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/lib.rs
  proxy/src/task.rs
  proxy/src/transparency/client.rs
  proxy/src/transparency/glue.rs
  proxy/src/transparency/h1.rs
  proxy/src/transparency/mod.rs
  proxy/src/transparency/server.rs
  proxy/src/transparency/tcp.rs
  proxy/src/transparency/upgrade.rs
  proxy/tests/support/mod.rs
  proxy/tests/transparency.rs
Labels: review/ready

#1176 proxy: Document tls::config::watch_for_config_changes
  proxy/src/transport/tls/config.rs
Labels: area/proxy

#675 Add CA certificate bundle distributor to conduit install
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/Dockerfile
  controller/ca/controller.go
  controller/ca/controller_test.go
  controller/cmd/ca-distributor/main.go
  pkg/k8s/labels.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review

#1183 Revert usage of parallel in docker-build
  bin/docker-build
Labels: area/build

#1177 proxy: Implement a WatchService
  proxy/src/lib.rs
  proxy/src/watch_service.rs
Labels: area/proxy

#1185 proxy: Rebind endpoint stacks on TLS config changes using WatchService
  proxy/src/bind.rs
Labels: area/proxy, area/security, priority/P0

#1128 proxy: Add process stats to proxy metrics (on Linux)
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/lib.rs
  proxy/src/telemetry/metrics/counter.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/process.rs
Labels: area/proxy, area/telemetry

#1198 proxy: Move control utils into module
  proxy/src/control/destination/background.rs
  proxy/src/control/mod.rs
  proxy/src/control/util.rs
Labels: area/proxy

#1192 proxy: Rebind controller client on TLS configuration changes
  proxy/src/bind.rs
  proxy/src/connection.rs
  proxy/src/control/destination/background.rs
  proxy/src/transport/connect.rs
  proxy/src/transport/tls/config.rs
  proxy/src/transport/tls/mod.rs
Labels: area/proxy, area/security, priority/P0

#1191 Re-add sidebar links to individual resource pages
  web/app/css/sidebar.css
  web/app/js/components/Sidebar.jsx
Labels: area/web

#1140 proxy: Fix false positives in polling-based fs watches
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/fs_watch.rs
  proxy/src/lib.rs
Labels: area/proxy, priority/P1

#1209 proxy: Fix ConditionallyUpgradeServerToTls not being notified
  proxy/src/connection.rs
Labels: area/proxy, bug

#1199 Introduce Proxy process telemetry in Grafana
  grafana/dashboards/health.json
Labels: area/telemetry

#1211 Change the icon for Documentation in the sidebar
  web/app/js/components/Sidebar.jsx
Labels: area/web

#1213 Add Pod to injectable types
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.input.yml
Labels: area/cli

#1218 proxy: Replace >=100,000 ms latency buckets with 1, 2, 3, 4, and 5 ms
  proxy/src/telemetry/metrics/latency.rs
Labels: area/proxy, area/telemetry

#1224 cli: tap: Use safe accessors
  cli/cmd/tap.go
Labels: area/cli

#1181 Add the ability to query stats by authority
  cli/cmd/get.go
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/gen/public/public.pb.go
  pkg/k8s/k8s.go
  pkg/k8s/k8s_test.go
  proto/public.proto
  test/stat/stat_test.go
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Namespace.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/cli, area/controller, area/telemetry

#1202 Web UI: Better format empty errors
  controller/api/public/stat_summary.go
  web/app/js/components/ErrorModal.jsx
Labels: area/web

#1205 Add controller component pod uptimes to the ServiceMesh page
  cli/cmd/get.go
  cli/cmd/get_test.go
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/gen/public/public.pb.go
  proto/public.proto
  test/get/get_test.go
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/srv/api_handlers.go
Labels: area/cli, area/controller, area/web

#1235 Fix bug in public-api stat_summary tests
  controller/api/public/stat_summary_test.go
Labels: area/controller, bug

#1173 proxy: Fall back to plaintext communication when a TLS handshake fails
  proxy/src/connection.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/sensor/mod.rs
  proxy/src/telemetry/sensor/transport.rs
  proxy/src/transport/tls/config.rs
  proxy/src/transport/tls/mod.rs
Labels: area/proxy, priority/P0
