Repository linkerd/linkerd2, pull requests merged in 2018-04, with the labels that each got.

#648 proxy: allow disable protocol detection on specific ports
  proxy/src/config.rs
  proxy/src/lib.rs
  proxy/src/transparency/server.rs
  proxy/tests/support/proxy.rs
  proxy/tests/transparency.rs
Labels: review

#657 Filter out conduit controller pods from Grafana
  cli/cmd/install.go
  cli/cmd/testdata/install_default.golden
  cli/install/deployment.go
  cli/install/viz.go
Labels: area/telemetry, review

#650 Use Go 1.10.1 to build all Go code.
  .travis.yml
  Dockerfile-go-deps
  cli/Dockerfile-bin
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/security, review

#666 Rename grafana viz to top-line
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  cli/install/top-line.go
Labels: area/telemetry, review

#654 Add pod-based metric_labels to destinations response (#429)
  BUILD.md
  controller/destination/destination_resolver.go
  controller/destination/k8s_resolver.go
  controller/destination/listener.go
  controller/destination/listener_test.go
  controller/destination/resolver.go
  controller/destination/resolver_test.go
  controller/destination/server.go
  controller/destination/server_test.go
  controller/destination/test_helper.go
  controller/gen/proxy/destination/destination.pb.go
  controller/k8s/pods.go
  controller/k8s/test_helper.go
  controller/script/destination-client/main.go
  controller/tap/server.go
  controller/telemetry/server.go
  proto/proxy/destination/destination.proto
  proxy/tests/support/controller.rs
Labels: review

#659 fix pod status and count in control plane dashboard
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/util/MetricUtils.js
Labels: area/web

#663 Define a new telemetry Stat API
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/gen/public/api.pb.go
  proto/public/api.proto
Labels: area/telemetry, review

#670 Fix missing comma in gRPC status code labels
  proxy/src/telemetry/metrics/prometheus.rs
Labels: review

#672 Move control::discovery::Cache into its own module
  proxy/src/control/cache.rs
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
Labels: priority/P2, review

#680 Split labels out of `prometheus.rs` into its own file
  proxy/src/telemetry/metrics/prometheus/labels.rs
  proxy/src/telemetry/metrics/prometheus/mod.rs
Labels: area/proxy, area/telemetry, review

#676 Pretty-print durations in log messages
  proxy/src/timeout.rs
Labels: area/proxy, review

#691 Fix ci job failing when new Docker image added
  .travis.yml
Labels: area/build, review

#690 Harmonize Prometheus label usage
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/destination/listener.go
  controller/destination/listener_test.go
  controller/script/simulate-proxy/main.go
  doc/prometheus.md
  doc/proxy-metrics.md
Labels: area/telemetry, review

#673 Proxy: Refactor DNS name parsing and normalization
  proxy/src/config.rs
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
  proxy/src/dns.rs
  proxy/src/fully_qualified_authority.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/transport/connect.rs
  proxy/src/transport/mod.rs
Labels: review

#674 Proxy: Refactor poll_destination() in service discovery.
  proxy/src/control/discovery.rs
Labels: review

#671 Start implementing conduit stat summary endpoint
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/stat_summary.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/Dockerfile
  controller/api/public/grpc_server.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  controller/gen/public/api.pb.go
  proto/public/api.proto
  proxy-init/Dockerfile
  web/Dockerfile
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/controller, area/telemetry, review

#698 Revert "Proxy: Refactor poll_destination() in service discovery. (#674)"
  proxy/src/control/discovery.rs
Labels: review

#699 Revert "Proxy: Refactor DNS name parsing and normalization (#673)"
  proxy/src/config.rs
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
  proxy/src/dns.rs
  proxy/src/fully_qualified_authority.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/transport/connect.rs
  proxy/src/transport/mod.rs
Labels: review

#696 Proxy: Reduce coupling between service discovery mechanisms.
  proxy/src/control/discovery.rs
Labels: review

#701 Remove unused conversions for Destination.
  proxy/src/outbound.rs
Labels: review

#677 Add pretty durations to panics from `eventually!`
  proxy/tests/support/mod.rs
Labels: area/proxy, area/test, review

#678 Link to Grafana from Conduit Dashboard
  .dockerignore
  .gitignore
  BUILD.md
  web/app/img/grafana_icon.svg
  web/app/js/components/DeploymentDetail.jsx
  web/app/js/components/GrafanaLink.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/test/ApiHelpersTest.jsx
Labels: review

#702 Use canonical k8s names, fix prom labels
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/stat_summary.go
  controller/Dockerfile
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli, area/telemetry

#688 Make `control::Cache` key-value in order to store discovery metadata
  proxy/src/control/cache.rs
  proxy/src/control/discovery.rs
  proxy/src/lib.rs
Labels: area/proxy, review

#714 CLI: change conduit namespace shorthand flag to -c
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/get.go
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/root.go
  cli/cmd/stat.go
  cli/cmd/stat_summary.go
  cli/cmd/tap.go
  cli/cmd/version.go
Labels: area/cli

#716 Namespace-aware Grafana dashboards
  grafana/dashboards/deployment.json
  grafana/dashboards/top-line.json
  web/app/js/components/GrafanaLink.jsx
Labels: area/telemetry

#717 Move StatSummary logic into grpc server
  cli/cmd/stat_summary.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
Labels: area/telemetry

#725 Refactor poll_destination() in service discovery.
  proxy/src/control/discovery.rs
Labels: review

#692 Proxy: Fall back to using DNS when Destination service can't find service.
  proxy/src/control/discovery.rs
  proxy/src/control/mod.rs
  proxy/src/dns.rs
  proxy/src/lib.rs
  proxy/src/transport/connect.rs
  test/egress/egress_test.go
  test/egress/testdata/proxy.yaml
Labels: review

#693 Proxy: Do L7 load balancing for all external HTTP services.
  proxy/src/control/discovery.rs
  proxy/src/control/fully_qualified_authority.rs
  proxy/src/control/mod.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/tests/discovery.rs
Labels: review

#723 Fix success rate calculation in public api
  controller/api/public/grpc_server_test.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/telemetry/server_test.go
Labels: area/telemetry

#726 Proxy: Do L7 load balancing for all external HTTP services.
  proxy/src/control/discovery.rs
  proxy/src/control/fully_qualified_authority.rs
  proxy/src/control/mod.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/tests/discovery.rs
Labels: review

#724 Switch public API to use cached k8s resources
  Gopkg.lock
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/cmd/public-api/main.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/telemetry, review

#684 proxy: improve graceful shutdown process
  Cargo.lock
  Cargo.toml
  proxy/Cargo.toml
  proxy/src/drain.rs
  proxy/src/lib.rs
  proxy/src/transparency/server.rs
  proxy/tests/discovery.rs
  proxy/tests/shutdown.rs
  proxy/tests/support/client.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/mod.rs
  proxy/tests/support/proxy.rs
  proxy/tests/support/server.rs
  proxy/tests/transparency.rs
Labels: review

#735 proxy: fix flaky tcp graceful shutdown test
  proxy/tests/shutdown.rs
Labels: review

#731 Controller: add more destination labels, fix service label
  controller/destination/k8s_resolver.go
  controller/destination/k8s_resolver_test.go
  controller/destination/listener.go
  controller/destination/listener_test.go
  controller/destination/server.go
  controller/destination/test_helper.go
  doc/proxy-metrics.md
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
Labels: area/controller, area/telemetry, review

#737 Add latency stats in new stat summary endpoint
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/stat_summary.go
  controller/Dockerfile
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/gen/public/api.pb.go
  proto/public/api.proto
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, area/telemetry, review

#745 Add --all-namespaces flag to CLI statsummary command
  cli/cmd/stat_summary.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
Labels: area/controller, area/telemetry, review

#743 Implement ListPods in public-api
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary_test.go
  controller/cmd/public-api/main.go
  proto/public/api.proto
  test/testdata/check.golden
Labels: area/controller, area/telemetry, review

#661 Add labels from service discovery to proxy metrics reports
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/control/discovery.rs
  proxy/src/ctx/http.rs
  proxy/src/lib.rs
  proxy/src/outbound.rs
  proxy/src/telemetry/metrics/prometheus/labels.rs
  proxy/src/telemetry/metrics/prometheus/mod.rs
  proxy/src/telemetry/mod.rs
  proxy/tests/discovery.rs
  proxy/tests/support/controller.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, review

#752 Ignore flaky telemetry tests on CI
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, area/test, review

#738 Add unit tests for Labeled middleware
  proxy/src/telemetry/metrics/prometheus/labels.rs
Labels: area/proxy, area/telemetry, area/test, review

#753 Update web component to use new stat api
  web/app/css/bar-chart.css
  web/app/css/deployment.css
  web/app/css/health-pane.css
  web/app/css/latency-overview.css
  web/app/css/metric-summary.css
  web/app/img/grafana_icon.svg
  web/app/js/components/BarChart.jsx
  web/app/js/components/DeploymentDetail.jsx
  web/app/js/components/DeploymentsList.jsx
  web/app/js/components/GrafanaLink.jsx
  web/app/js/components/LatencyOverview.jsx
  web/app/js/components/MetricsSummary.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/ResourceHealthOverview.jsx
  web/app/js/components/ResourceMetricsOverview.jsx
  web/app/js/components/ResourceOverviewMetric.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/UpstreamDownstream.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/js/index.js
  web/app/test/ApiHelpersTest.jsx
  web/app/test/DeploymentDetailTest.jsx
  web/app/test/DeploymentsListTest.jsx
  web/app/test/MetricUtilsTest.js
  web/app/test/ResourceMetricsOverviewTest.jsx
  web/app/test/ServiceMeshTest.jsx
  web/app/test/fixtures/deployRollup.json
  web/app/test/fixtures/multiDeployRollup.json
  web/app/test/fixtures/singleDeployTs.json
  web/srv/api_handlers.go
  web/srv/api_handlers_test.go
  web/srv/server.go
Labels: review

#616 Stop pushing telemetry reports from the proxy
  proxy/controller-grpc/build.rs
  proxy/controller-grpc/src/lib.rs
  proxy/src/config.rs
  proxy/src/control/mod.rs
  proxy/src/control/telemetry.rs
  proxy/src/ctx/mod.rs
  proxy/src/lib.rs
  proxy/src/telemetry/control.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/mod.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/proxy.rs
  proxy/tests/telemetry.rs
Labels: review

#762 Use apps/v1beta2 for Kubernetes 1.8 compatibility
  Gopkg.lock
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/cmd/public-api/main.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, review

#758 Remove NODE_NAME and POD_NAME env usage
  cli/cmd/inject.go
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  proxy/src/config.rs
  proxy/src/ctx/mod.rs
  proxy/src/inbound.rs
Labels: area/cli, area/proxy, priority/P1, review

#760 Add namespace as a resource type in public-api
  cli/cmd/stat.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  controller/gen/public/api.pb.go
  pkg/k8s/k8s.go
  proto/public/api.proto
  web/srv/api_handlers.go
Labels: area/cli, area/controller, review

#765 Reduce proto dependencies in proxy/Dockerfile
  proxy/Dockerfile
Labels: area/build, review

#766 Standardize and polish Grafana for 0.4.0 release
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
  grafana/dashboards/top-line.json
Labels: area/telemetry, review

#772 v0.4.0
  CHANGES.md
  doc/get-involved.md
  doc/proxy-metrics.md
  doc/roadmap.md
Labels: review

#771 Misc cleanup following the telemetry rewrite
  cli/cmd/completion.go
  cli/cmd/version.go
  controller/api/public/client.go
  controller/api/public/client_test.go
  controller/api/public/grpc_server.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/proto_over_http_test.go
  controller/api/public/stat_summary.go
  controller/api/public/test_helper.go
  controller/k8s/watcher_test.go
  pkg/healthcheck/healthcheck_test.go
  proxy-init/cmd/root.go
Labels: review

#767 Revert "Avoid `cargo fetch --locked` in proxy/Dockerfile. (#593)"
  proxy/Dockerfile
Labels: area/build

#733 Refactor control::Cache and add tests
  proxy/src/control/cache.rs
  proxy/src/control/discovery.rs
Labels: area/proxy, review

#774 Permit arbitrary time windows in public-api
  cli/cmd/stat.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  controller/gen/public/api.pb.go
  proto/public/api.proto
  web/app/js/components/util/MetricUtils.js
  web/app/test/fixtures/deployRollup.json
  web/app/test/fixtures/multiDeployRollup.json
Labels: area/controller, area/telemetry, review

#780 proxy: clean up some logs and a few warnings in proxy tests
  proxy/src/telemetry/control.rs
  proxy/src/transparency/tcp.rs
  proxy/tests/discovery.rs
  proxy/tests/shutdown.rs
  proxy/tests/support/client.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/mod.rs
  proxy/tests/support/proxy.rs
  proxy/tests/support/tcp.rs
  proxy/tests/telemetry.rs
  proxy/tests/transparency.rs
Labels: review

#782 Factor out reused test fixtures from telemetry tests
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, area/test, review

#781 Destination service returns "Running" pod labels
  controller/destination/listener.go
  controller/destination/listener_test.go
  controller/k8s/test_helper.go
Labels: area/controller, review

#744 Move request open timestamp to the top of the stack
  proxy/src/lib.rs
  proxy/src/telemetry/sensor/http.rs
Labels: area/proxy, area/telemetry, review

#787 proxy: Add tcp_connection_duration_ms histogram metric
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, review

#784 Destination service provides pod-template-hash
  Gopkg.lock
  cli/Dockerfile-bin
  controller/Dockerfile
  doc/proxy-metrics.md
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, area/telemetry, review

#778 rfc: A Kubernetes-aware Tap API
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/gen/common/common.pb.go
  controller/gen/controller/tap/tap.pb.go
  controller/gen/proxy/tap/tap.pb.go
  controller/gen/public/api.pb.go
  controller/tap/server.go
  proto/common/common.proto
  proto/controller/tap/tap.proto
  proto/proxy/tap/tap.proto
  proto/public/api.proto
  proxy/src/control/pb.rs
  proxy/src/telemetry/tap/match_.rs
Labels: area/telemetry, priority/P0, review

#794 Add replication controller stats in CLI
  cli/cmd/stat.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/cmd/public-api/main.go
  pkg/k8s/k8s.go
Labels: review

#797 proxy: Cleanup control::discovery
  proxy/src/control/discovery.rs
Labels: area/proxy, priority/P0, review

#796 proxy: Make control::discovery::Bind generic over its Endpoint type
  proxy/src/bind.rs
  proxy/src/control/discovery.rs
Labels: area/proxy, priority/P0, review

#808 proxy: Rewrite mock controller to accept a stream of dst updates
  proxy/controller-grpc/build.rs
  proxy/tests/discovery.rs
  proxy/tests/support/controller.rs
  proxy/tests/support/mod.rs
  proxy/tests/telemetry.rs
  proxy/tests/transparency.rs
Labels: area/proxy, priority/P0, review

#798 proxy: Introduce the control::discovery::Endpoint type
  proxy/src/bind.rs
  proxy/src/control/discovery.rs
  proxy/src/inbound.rs
  proxy/src/outbound.rs
Labels: area/proxy, priority/P0, review, review/work-in-progress

#802 Introduce tapByResource cli command
  cli/cmd/tap_by_resource.go
  cli/cmd/tap_by_resource_test.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
Labels: area/cli, review

#812 proxy: Remove the `Labeled` middleware in favor of client context labels
  proxy/src/control/discovery.rs
  proxy/src/ctx/http.rs
  proxy/src/outbound.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
Labels: area/proxy, priority/P0, review

#809 Service support in stat command
  cli/cmd/stat.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  pkg/k8s/k8s.go
Labels: area/cli, area/controller, area/telemetry, review

#814 proxy: Add destination labels to TapEvents
  proxy/src/control/pb.rs
  proxy/src/telemetry/metrics/labels.rs
Labels: area/proxy, priority/P1, review

#785 proxy: Add transport-level metrics
  proxy/src/telemetry/event.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/sensor/transport.rs
  proxy/tests/support/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, review

#810 Introduce service-centric Grafana dashboard
  grafana/dashboards/service.json
Labels: area/telemetry, review

#817 proxy: Support destination label matching for tap
  proxy/controller-grpc/src/arbitrary.rs
  proxy/src/telemetry/tap/match_.rs
Labels: priority/P0, review

#816 Upgrade Prometheus from 2.1.0 to 2.2.1
  cli/cmd/install.go
  cli/cmd/testdata/install_default.golden
  docker-compose.yml
Labels: area/telemetry, review

#815 Fix top-line Grafana counts
  grafana/dashboards/deployment.json
  grafana/dashboards/pod.json
  grafana/dashboards/top-line.json
Labels: area/telemetry, review

#790 proxy: Add classifications to TCP close stats
  proxy/src/ctx/transport.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, review

#820 Remove docs for never-implemented Destination service heartbeat
  proto/proxy/destination/destination.proto
Labels: review

#822 Make simulate-proxy match proxy output
  controller/script/simulate-proxy/main.go
Labels: area/telemetry, area/test, review

#825 proxy: Unbreak process_start_time_seconds metric
  Cargo.lock
  proxy/Cargo.toml
  proxy/assert_macro
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, review

#832 Ignore flaky metrics tests on CI
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, area/test, review

#830 cli: standardize kubernetes resource parsing
  cli/cmd/stat.go
  cli/cmd/tap_by_resource.go
  controller/api/util/api_utils.go
Labels: area/cli, review

#826 proxy: remove unused metrics
  controller/script/simulate-proxy/main.go
  doc/proxy-metrics.md
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/telemetry.rs
Labels: review

#827 Implement TapByResource in Tap Service
  Gopkg.lock
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/api/public/client.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/cmd/tap/main.go
  controller/k8s/pods.go
  controller/k8s/replicasets.go
  controller/tap/server.go
  controller/tap/server_test.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, review

#829 Introduce K8s Lister, integrate simulate-proxy
  controller/k8s/lister.go
  controller/k8s/lister_test.go
  controller/script/simulate-proxy/main.go
Labels: area/controller, review

#833 proxy tests: reduce some boilerplate, improve error information
  proxy/tests/shutdown.rs
  proxy/tests/support/proxy.rs
  proxy/tests/support/tcp.rs
  proxy/tests/telemetry.rs
  proxy/tests/transparency.rs
Labels: review

#840 Add destination labels to all relevant tap events
  proxy/src/control/pb.rs
Labels: area/proxy, area/telemetry, priority/P0, review

#665 Add optional GZIP compression to proxy /metrics endpoint
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/lib.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/support/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, priority/P2, review

#835 Implement Public API and Tap on top of Lister
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/get.go
  cli/cmd/tap.go
  cli/cmd/tap_by_resource_test.go
  cli/cmd/tap_test.go
  controller/Dockerfile
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/lister.go
  controller/k8s/lister_test.go
  controller/tap/server.go
  controller/tap/server_test.go
  pkg/k8s/k8s.go
  pkg/k8s/k8s_test.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, review

#837 Make TapByResource output destination pod
  cli/cmd/tap.go
  cli/cmd/tap_by_resource_test.go
  cli/cmd/tap_test.go
  cli/cmd/testdata/tap_busy_output.golden
Labels: area/cli, review

#845 Bump proxy h2 dependency to v0.1.6.
  Cargo.lock
  proxy/Cargo.toml
Labels: review

#843 Add a Replication Controller grafana dashboard
  grafana/dashboards/replication-controller.json
Labels: area/telemetry, review

#847 proxy: Fix assertions in `metrics_compression` test
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, area/test, priority/P0, review

#844 Deprecate Tap, rename TapByResource to Tap
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/tap_by_resource.go
  cli/cmd/tap_by_resource_test.go
  cli/cmd/tap_test.go
  controller/Dockerfile
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/http_server.go
  controller/cmd/tap/main.go
  controller/gen/controller/tap/tap.pb.go
  controller/gen/public/api.pb.go
  controller/k8s/replicasets.go
  controller/tap/server.go
  controller/tap/server_test.go
  proto/controller/tap/tap.proto
  proto/public/api.proto
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli, area/controller, review

#834 Proxy: Use trust-dns-resolver for DNS.
  Cargo.lock
  proxy/Cargo.toml
  proxy/src/control/discovery.rs
  proxy/src/dns.rs
  proxy/src/lib.rs
  proxy/src/transport/connect.rs
Labels: review

#848 Introduce the `peer` label to transport metrics
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/tests/telemetry.rs
Labels: area/proxy, area/telemetry, priority/P0, review

#764 Remove special support for ExternalName services
  Gopkg.lock
  cli/Dockerfile-bin
  controller/Dockerfile
  controller/destination/dns.go
  controller/destination/dns_test.go
  controller/destination/k8s_resolver.go
  controller/destination/k8s_resolver_test.go
  controller/destination/resolver.go
  controller/destination/resolver_test.go
  controller/destination/server.go
  controller/destination/server_test.go
  controller/destination/test_helper.go
  controller/k8s/endpoints.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: review

#850 Add a Replication Controllers page in the Web UI
  web/app/js/components/DeploymentSummary.jsx
  web/app/js/components/GrafanaLink.jsx
  web/app/js/components/PodOwnerList.jsx
  web/app/js/components/Sidebar.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/js/index.js
  web/app/test/MetricUtilsTest.js
  web/srv/server.go
Labels: area/web, review

#824 Add TCP stats to deployment dashboards
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
Labels: area/telemetry, area/web, priority/P1, review

#853 Remove the deployment search bar from the sidebar
  web/app/js/components/Sidebar.jsx
Labels: area/web, review

#742 Add transport-level metrics to proxy-metrics.md
  doc/proxy-metrics.md
Labels: area/proxy, area/telemetry, review

#839 Release Notes for 0.4.1 release.
  CHANGES.md
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
  cli/install/template.go
  doc/debugging-an-app.md
  doc/getting-started.md
  doc/roadmap.md
Labels: area/docs, review

#854 Add a namespace column to the metrics tables
  web/app/css/styles.css
  web/app/js/components/GrafanaLink.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/PodsList.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/util/MetricUtils.js
  web/app/test/GrafanaLinkTest.jsx
  web/app/test/MetricUtilsTest.js
Labels: area/web, review

#855 Upgrade antd to 3.4.3
  web/app/yarn.lock
Labels: area/web, review

#861 Move `Counter` and `Gauge` to their own modules
  proxy/src/telemetry/metrics/counter.rs
  proxy/src/telemetry/metrics/gauge.rs
  proxy/src/telemetry/metrics/mod.rs
Labels: area/proxy, area/telemetry, review

#868 proxy: Make `Histogram` generic over its value
  proxy/src/telemetry/metrics/histogram.rs
  proxy/src/telemetry/metrics/latency.rs
  proxy/src/telemetry/metrics/mod.rs
Labels: area/proxy

#870 proxy: Add histogram unit tests
  proxy/src/telemetry/metrics/histogram.rs
Labels: area/proxy, area/telemetry, area/test

#872 proxy: Implement a From converter for latency::Ms
  proxy/src/telemetry/metrics/histogram.rs
  proxy/src/telemetry/metrics/latency.rs
  proxy/src/telemetry/metrics/mod.rs
Labels: area/proxy

#875 Rename `metrics::Aggregate` to `metrics::Record`
  proxy/src/telemetry/control.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/record.rs
Labels: area/proxy

#874 proxy: Implement benchmarks for telemetry recording
  proxy/benches/record.rs
  proxy/src/lib.rs
Labels: area/proxy

#873 proxy: Remove Arcs from metric labels
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/record.rs
Labels: area/proxy, area/telemetry

#866 Add a filter to the namespace column
  web/app/js/components/MetricsTable.jsx
Labels: area/web

#877 Move `metrics::Serve` into its own module
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/serve.rs
Labels: area/proxy

#878 proxy: Make each metric type responsible for formatting
  proxy/src/telemetry/metrics/counter.rs
  proxy/src/telemetry/metrics/gauge.rs
  proxy/src/telemetry/metrics/histogram.rs
  proxy/src/telemetry/metrics/mod.rs
Labels: area/proxy

#871 Remove repetitive code in dashboard
  web/app/js/components/PodsList.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/index.js
Labels: area/web

#879 Group metrics by label
  proxy/src/telemetry/metrics/counter.rs
  proxy/src/telemetry/metrics/gauge.rs
  proxy/src/telemetry/metrics/histogram.rs
  proxy/src/telemetry/metrics/http.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/record.rs
  proxy/src/telemetry/metrics/serve.rs
  proxy/src/telemetry/metrics/transport.rs
Labels: area/proxy, area/telemetry

#880 proxy: Expire metrics that have not been updated for 10 minutes
  proxy/src/config.rs
  proxy/src/ctx/mod.rs
  proxy/src/lib.rs
  proxy/src/telemetry/control.rs
  proxy/src/telemetry/metrics/http.rs
  proxy/src/telemetry/metrics/labels.rs
  proxy/src/telemetry/metrics/mod.rs
  proxy/src/telemetry/metrics/serve.rs
  proxy/src/telemetry/metrics/transport.rs
  proxy/src/telemetry/mod.rs
Labels: area/proxy
