Repository linkerd/linkerd2, pull requests merged in 2018-10, with the labels that each got.

#1736 cli: Use updated proxy config environment vars
  cli/cmd/inject.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_output.golden
Labels: area/cli

#1731 Added ability to configure sidecar CPU + Memory requests
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/root.go
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.input.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.report
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli, area/controller, enhancement

#1743 Added --context flag to specify the context to use to talk to the Kubernetes apiserver
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/root.go
  cli/cmd/version.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/api.go
  pkg/k8s/api_test.go
  pkg/k8s/k8s.go
  pkg/k8s/k8s_test.go
  pkg/k8s/proxy.go
  pkg/k8s/proxy_test.go
  testutil/kubernetes_helper.go
Labels: area/cli

#1767 Fix incorrect test wording
  controller/api/public/stat_summary_test.go
Labels: area/controller

#1749 Added support for json output in `linkerd stat`
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/testdata/stat_all_output.golden
  cli/cmd/testdata/stat_busy_output.golden
  cli/cmd/testdata/stat_empty_output.golden
  cli/cmd/testdata/stat_one_output.golden
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
Labels: area/cli

#1768 Use jest instead of karma for running tests
  .travis.yml
  TEST.md
  bin/web
  web/app/__mocks__/fileMock.js
  web/app/__mocks__/styleMock.js
  web/app/js/components/BreadcrumbHeader.test.jsx
  web/app/js/components/GrafanaLink.test.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/NetworkGraph.test.jsx
  web/app/js/components/ResourceList.test.jsx
  web/app/js/components/ServiceMesh.test.jsx
  web/app/js/components/Sidebar.test.jsx
  web/app/js/components/Version.test.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
  web/app/js/components/util/MetricUtils.test.js
  web/app/js/components/util/Utils.test.js
  web/app/karma.conf.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1769 Switch to jest for assertions, remove mocha and chai
  web/app/js/components/BreadcrumbHeader.test.jsx
  web/app/js/components/GrafanaLink.test.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/NetworkGraph.test.jsx
  web/app/js/components/ResourceList.test.jsx
  web/app/js/components/ServiceMesh.test.jsx
  web/app/js/components/Sidebar.test.jsx
  web/app/js/components/Version.test.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
  web/app/js/components/util/MetricUtils.test.js
  web/app/js/components/util/Utils.test.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1772 Add Grafana dashboard for Authorities
  grafana/dashboards/authority.json
Labels: area/controller, area/web

#1793 Dashboard Table cleanups
  web/app/js/components/BaseTable.jsx
  web/app/js/components/ErrorModal.jsx
  web/app/js/components/MeshedStatusTable.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/util/Progress.jsx
Labels: area/web

#1806 Upgrade dashboard js libraries
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1809 Do some small alignment tweaks, fix Firefox rendering
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/util/Chip.jsx
  web/app/js/components/util/SuccessRateMiniChart.jsx
Labels: area/web

#1810 Re-implement sidebar resource selectors
  pkg/k8s/k8s.go
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/NavigationResource.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/util/SuccessRateDot.jsx
  web/app/js/components/util/SuccessRateMiniChart.jsx
Labels: area/web

#1824 Upgrade material-ui to 3.3.2
  web/app/js/components/util/TapUtils.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#1827 Fix sidebar not rendering to end of page
  web/app/js/components/Navigation.jsx
Labels: area/web

#1829 Upgrade to linkerd/linkerd2-proxy#f97239ba
  bin/docker-build-proxy
Labels: area/proxy

#1831 Fix popovers to be reachable and clickable
  web/app/js/components/Popover.jsx
  web/app/js/components/util/TapUtils.jsx
Labels: area/web

#1830 Replace some sidebar icons with Font Awesome
  web/app/js/components/Navigation.jsx
Labels: area/web

#1833 Fix grid alignment in tap query form
  web/app/js/components/TapQueryForm.jsx
Labels: area/web
