Repository linkerd/linkerd2, pull requests merged in 2018-11, with the labels that each got.

#1834 Rewrite octopus arm code to be more parameterized and flexible.
  web/app/css/styles.css
  web/app/js/components/Octopus.jsx
  web/app/js/components/util/OctopusArms.jsx
Labels: area/web

#1841 Allow stat summary to query for multiple resources
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/testdata/stat_all_output_json.golden
  cli/cmd/testdata/stat_one_output_json.golden
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  pkg/k8s/k8s.go
Labels: area/cli

#1873 tap: Use nil-safe protobuf accessors
  controller/tap/server.go
Labels: bug

#1876 Add ListServices to public api
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/gen/public/public.pb.go
  controller/k8s/api.go
  proto/public.proto
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/controller

#1868 Add the top routes feature to the dashboard UI
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/TopRoutesTable.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/index.js
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/web

#1885 Release notes for edge-18.11.3
  CHANGES.md
Labels: area/docs

#1886 Modularize TopRoutes, add autocomplete for services
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/QueryToCliCmd.test.jsx
  web/app/js/components/TapQueryCliCmd.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/TopRoutesModule.jsx
  web/app/js/components/util/ApiHelpers.jsx
Labels: area/web
