Repository linkerd/linkerd2, pull requests merged in 2019-06, with the labels that each got.

#2900 Fix HA during upgrade
  cli/cmd/install.go
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
Labels: area/ha, area/install, bug

#2903 Upgrading packages and updating package.json to reflect current versions
  web/app/package.json
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#2906 If HA, set the webhooks failure policy to 'Fail'
  chart/templates/namespace.yaml
  chart/templates/proxy_injector-rbac.yaml
  chart/templates/sp_validator-rbac.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  pkg/k8s/labels.go
Labels: area/ha, area/install

#2924 Adding bin/dep ensure to web dev steps
  BUILD.md
Labels: area/docs

#2923 Fix BaseTable ignoring sorting order
  web/app/js/components/BaseTable.jsx
Labels: bug

#2920 Introduce Control Plane's PSP and RBAC resources into Helm templates
  chart/templates/psp.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/install/cni-template.go
Labels: area/controller, priority/P0

#2925 Remove MWVC RBAC from webhook configs
  chart/templates/proxy_injector-rbac.yaml
  chart/templates/sp_validator-rbac.yaml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: area/controller, area/install, area/rbac, priority/P0, size/small

#2919 Remove UPDATE event from the mutating webhook config
  chart/templates/proxy_injector-rbac.yaml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: area/inject, priority/P0, size/small

#2939 proxy: update to linkerd/linkerd2-proxy#35df8ab
  bin/docker-build-proxy
Labels: area/proxy

#2943 Set MWC and VWC failure policy to 'fail' in HA mode only
  chart/templates/proxy_injector-rbac.yaml
  chart/templates/sp_validator-rbac.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  test/install_test.go
Labels: area/install, priority/P0

#2944 Increase the retry duration in the post-upgrade 'check' integration test
  test/install_test.go
Labels: area/test

#2917 Import specific FontAwesome icons instead of full stylesheet
  web/app/css/fa.css
  web/app/css/styles.css
  web/app/css/webfonts/fa-brands-400.eot
  web/app/css/webfonts/fa-brands-400.svg
  web/app/css/webfonts/fa-brands-400.ttf
  web/app/css/webfonts/fa-brands-400.woff
  web/app/css/webfonts/fa-brands-400.woff2
  web/app/css/webfonts/fa-regular-400.eot
  web/app/css/webfonts/fa-regular-400.svg
  web/app/css/webfonts/fa-regular-400.ttf
  web/app/css/webfonts/fa-regular-400.woff
  web/app/css/webfonts/fa-regular-400.woff2
  web/app/css/webfonts/fa-solid-900.eot
  web/app/css/webfonts/fa-solid-900.svg
  web/app/css/webfonts/fa-solid-900.ttf
  web/app/css/webfonts/fa-solid-900.woff
  web/app/css/webfonts/fa-solid-900.woff2
  web/app/js/components/Navigation.jsx
  web/app/js/components/TapLink.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#2952 Remove unimplemented debug page on dashboard
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/Debug.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/index.js
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/web, priority/P0

#2945 travis integration test cleanup
  .travis.yml
  bin/test-cleanup
Labels: area/multi-cp

#2969 Add `NET_RAW` capability to the proxy-init container
  chart/templates/psp.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_debug.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_proxy_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_overridden.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  controller/proxy-injector/fake/data/pod.patch.json
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  test/inject/testdata/injected_default.golden
  test/inject/testdata/injected_params.golden
Labels: area/inject

#2958 Make NET_ADMIN check a warning, add PSP check
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/testdata/check.pre.golden
Labels: area/cli, area/install, priority/P0

#2971 Label all Linkerd resources
  chart/templates/config.yaml
  chart/templates/controller-rbac.yaml
  chart/templates/controller.yaml
  chart/templates/grafana-rbac.yaml
  chart/templates/grafana.yaml
  chart/templates/identity-rbac.yaml
  chart/templates/identity.yaml
  chart/templates/prometheus-rbac.yaml
  chart/templates/prometheus.yaml
  chart/templates/proxy_injector-rbac.yaml
  chart/templates/proxy_injector.yaml
  chart/templates/psp.yaml
  chart/templates/serviceprofile-crd.yaml
  chart/templates/sp_validator-rbac.yaml
  chart/templates/sp_validator.yaml
  chart/templates/tap-rbac.yaml
  chart/templates/tap.yaml
  chart/templates/web-rbac.yaml
  chart/templates/web.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: area/install, priority/P0

#2964 Set logrus timestamps on public-api and web startup
  pkg/flags/flags.go
Labels: area/controller

#2965 Add Edges table to resource detail view of dashboard
  web/app/js/components/BaseTable.jsx
  web/app/js/components/EdgesTable.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/EdgesUtils.jsx
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/web

#2972 Have `GetOwnerKindAndName` be able to skip the cache
  controller/api/destination/watcher/endpoints_watcher.go
  controller/api/public/grpc_server.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/proxy-injector/webhook.go
  controller/tap/server.go
Labels: area/controller

#2979 Bump Prometheus to v2.10.0
  cli/cmd/install.go
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  grafana/dashboards/prometheus-benchmark.json
Labels: priority/P0

#2976 Simplify port-forwarding code
  cli/cmd/dashboard.go
  cli/cmd/metrics.go
  controller/api/public/client.go
  pkg/k8s/portforward.go
  testutil/kubernetes_helper.go
Labels: area/cli, area/controller

#2995 Improve UI for Edges table in dashboard
  web/app/js/components/BaseTable.jsx
  web/app/js/components/EdgesTable.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/EdgesUtils.jsx
Labels: area/web

#2987 Introduce global resources checks to install and multi-stage install
  bin/test-cleanup
  cli/cmd/check.go
  cli/cmd/install.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/testdata/check.config.golden
  test/testdata/check.golden
  test/testdata/check.pre.golden
  test/testdata/check.proxy.golden
Labels: priority/P0

#3007 Expand and improve edges API endpoint
  cli/cmd/edges.go
  controller/api/public/edges.go
  controller/api/util/api_utils.go
  web/app/js/components/EdgesTable.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/EdgesUtils.jsx
Labels: area/cli, area/web
