Repository linkerd/linkerd2, pull requests merged in 2019-03, with the labels that each got.

#2358 Check kubectl version as part of checks
  pkg/healthcheck/healthcheck.go
  pkg/k8s/kubectl.go
  pkg/k8s/kubectl_test.go
  test/testdata/check.golden
  test/testdata/check.pre.golden
  test/testdata/check.pre.single_namespace.golden
  test/testdata/check.proxy.golden
  test/testdata/check.proxy.single_namespace.golden
  test/testdata/check.single_namespace.golden
Labels: area/cli

#2297 Adding filter feature to web UI
  web/app/js/components/BaseTable.jsx
  web/app/js/components/BaseTable.test.js
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopRoutesTable.jsx
  web/app/js/components/TopRoutesTable.test.js
  web/app/js/components/util/TapUtils.jsx
Labels: area/web

#2416 WIP: Wire up stats and dashboards for Jobs
  Gopkg.lock
  chart/templates/controller.yaml
  cli/Dockerfile-bin
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/top.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes_test.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  pkg/k8s/k8s.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/telemetry

#2334 Injection consolidation
  Gopkg.lock
  chart/templates/proxy_injector.yaml
  cli/Dockerfile-bin
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/inject_util.go
  cli/cmd/install-cni-plugin.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/root.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/uninject.go
  cli/cmd/uninject_test.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/cmd/proxy-injector/main.go
  controller/gen/config/config.pb.go
  controller/proxy-injector/fake/factory.go
  controller/proxy-injector/patch.go
  controller/proxy-injector/patch_test.go
  controller/proxy-injector/server.go
  controller/proxy-injector/server_test.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  pkg/config/config.go
  pkg/inject/inject.go
  pkg/inject/patch.go
  pkg/inject/patch_test.go
  pkg/inject/report.go
  pkg/inject/uninject.go
  pkg/k8s/labels.go
  proto/config/config.proto
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, area/inject

#2444 Remove GOPATH dependency from cli dev environment
  cli/static/templates.go
Labels: area/build, area/cli

#2388 Bump Prometheus client to v0.9.2
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/public/test_helper.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/build

#2431 Recreate the MWC when the proxy injector is restarted
  chart/templates/proxy_injector.yaml
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  controller/cmd/proxy-injector/main.go
  controller/proxy-injector/server.go
  controller/proxy-injector/webhook_config.go
  controller/proxy-injector/webhook_config_test.go
Labels: area/inject, priority/P0

#2421 Introduce NET_ADMIN cli check
  cli/cmd/check.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/authz.go
  pkg/k8s/authz_test.go
  test/testdata/check.pre.golden
Labels: area/cli, priority/P1

#2414 Introduce logging and restart integration tests
  test/install_test.go
  testutil/kubernetes_helper.go
Labels: area/test, priority/P0

#2452 Add more known log errors to integration tests
  test/install_test.go
Labels: area/test

#2457 Add more known log errors to integration tests
  test/install_test.go
Labels: area/debug, area/test

#2408 Show TCP stats in `linkerd stat` when -o wide or -o json is used
  cli/cmd/root.go
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/testdata/stat_all_output_json.golden
  cli/cmd/testdata/stat_one_output_json.golden
  cli/cmd/testdata/stat_one_tcp_output.golden
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/MetricUtils.test.js
  web/app/js/components/util/Utils.js
  web/app/js/components/util/Utils.test.js
Labels: area/cli, area/controller, area/telemetry

#2439 Added Jobs Resource to Linkerd Dashboard along with grafana.
  grafana/dashboards/job.json
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/telemetry, area/web

#2428 Require cluster-wide k8s API access
  controller/api/destination/endpoints_watcher_test.go
  controller/api/destination/k8s_resolver.go
  controller/api/destination/k8s_resolver_test.go
  controller/api/destination/profile_watcher_test.go
  controller/api/destination/server.go
  controller/api/destination/server_test.go
  controller/api/public/grpc_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/ca/controller_test.go
  controller/cmd/ca/main.go
  controller/cmd/destination/main.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  controller/tap/server_test.go
  pkg/k8s/authz.go
Labels: area/controller

#2445 Introduce cli command to fetch proxy metrics
  cli/cmd/dashboard.go
  cli/cmd/metrics.go
  cli/cmd/root.go
  pkg/healthcheck/sidecar.go
  pkg/inject/inject.go
  pkg/k8s/labels.go
  pkg/k8s/portforward.go
  pkg/k8s/portforward_test.go
  testutil/kubernetes_helper.go
Labels: area/cli, area/debug, area/telemetry, priority/P1

#2464 Surface TCP stats in more places in the dashboard
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
Labels: area/web

#2455 Public API endpoint `Config()`
  chart/templates/controller.yaml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/api/public/testdata/global.conf.json
  controller/api/public/testdata/proxy.conf.json
  controller/gen/config/config.pb.go
  controller/gen/public/public.pb.go
  controller/proxy-injector/webhook.go
  pkg/config/config.go
  proto/config/config.proto
  proto/public.proto
Labels: area/controller, priority/P0

#2470 Fix web init to not check for ServiceProfiles
  bin/test-run
  controller/api/public/grpc_server_test.go
  web/main.go
Labels: area/controller, area/test

#2469 Fix TopRoutes tables not being sorted correctly
  web/app/js/components/util/MetricUtils.jsx
Labels: area/web

#2483 Quiet inject logging
  cli/cmd/inject.go
  controller/proxy-injector/webhook.go
  pkg/inject/inject.go
Labels: area/debug

#2466 cli: Always display stat tables for all routes
  controller/api/public/top_routes.go
  controller/k8s/api.go
Labels: area/cli, bug

#2485 Generate .gitcookies during ci to fix rate-limits
  .travis.yml
Labels: area/build

#2474 Remove single namespace functionality
  BUILD.md
  chart/templates/ca.yaml
  chart/templates/controller.yaml
  chart/templates/namespace.yaml
  chart/templates/prometheus.yaml
  chart/templates/serviceprofile.yaml
  cli/cmd/check.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  controller/api/destination/k8s_resolver.go
  controller/k8s/api.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/authz.go
  pkg/k8s/authz_test.go
  test/install_test.go
  test/testdata/check.golden
  test/testdata/check.pre.golden
  test/testdata/check.pre.single_namespace.golden
  test/testdata/check.proxy.golden
  test/testdata/check.proxy.single_namespace.golden
  test/testdata/check.single_namespace.golden
  testutil/test_helper.go
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/TopRoutes.jsx
  web/main.go
  web/srv/handlers.go
  web/srv/server.go
  web/templates/app.tmpl.html
Labels: area/cli, area/controller, area/install, priority/P0

#2486 Specify a default port for the Linkerd dashboard
  pkg/k8s/portforward.go
Labels: area/cli, area/web, priority/P0

#2492 Faster test cleanup
  bin/test-cleanup
Labels: area/test

#2471 Support Auto-Inject Config Overrides Via Annotations
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.input.yml
  cli/cmd/uninject_test.go
  controller/proxy-injector/webhook_test.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/k8s/labels.go
Labels: area/inject, priority/P0

#2476 Add "Community" menu item to dashboard that displays linkerd.io content
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/Community.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/index.js
  web/app/package.json
  web/app/yarn.lock
  web/srv/server.go
Labels: area/web, priority/P0

#2496 Use correct resource names for authz checks
  pkg/healthcheck/healthcheck.go
Labels: area/cli

#2507 Adding text wrap to expanded Tap request
  web/app/js/components/ExpandableTable.jsx
  web/app/js/components/TapEventTable.jsx
Labels: area/web

#2521 Introduce the Identity controller implementation
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/destination/server.go
  controller/cmd/identity/main.go
  controller/gen/config/config.pb.go
  controller/identity/domain.go
  controller/identity/validator.go
  pkg/identity/service.go
  pkg/tls/ca.go
  pkg/tls/codec.go
  pkg/tls/cred.go
  proto/config/config.proto
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/controller, area/identity

#2524 Update to identity-capable proxy
  bin/docker-build-proxy
  chart/templates/prometheus.yaml
  cli/cmd/inject.go
  cli/cmd/install-cni-plugin.go
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/install.go
  cli/cmd/root.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  controller/api/destination/endpoint_listener_test.go
  controller/api/public/testdata/proxy.conf.json
  controller/gen/config/config.pb.go
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
  controller/proxy-injector/webhook_test.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/inject/patch_test.go
  pkg/k8s/labels.go
  pkg/k8s/portforward.go
  pkg/k8s/portforward_test.go
  proto/config/config.proto
  test/install_test.go
Labels: area/identity

#2529 Add identity pod to check, web, and integration tests
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/get/get_test.go
  test/install_test.go
  test/stat/stat_test.go
  web/app/js/components/ServiceMesh.jsx
Labels: area/test

#2538 install: Create linkerd-config before pods
  chart/templates/config.yaml
  chart/templates/controller.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/root.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
Labels: area/install

#2501 Replacing native sort with lodash stable sortBy for table rows
  web/app/js/components/BaseTable.jsx
  web/app/js/components/Debug.jsx
  web/app/js/components/MeshedStatusTable.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopRoutesTable.jsx
  web/app/js/components/util/Utils.js
Labels: area/web

#2536 inject: Configure proxies to enable Identity
  Dockerfile-proxy
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  pkg/inject/inject.go
  pkg/inject/patch.go
  pkg/inject/uninject.go
  pkg/k8s/labels.go
  proxy-identity/main.go
  proxy-identity/run-proxy.sh
  test/install_test.go
Labels: area/identity

#2530 Restructure inject resource config struct
  pkg/inject/inject.go
  pkg/inject/report.go
  pkg/inject/uninject.go
Labels: area/inject

#2472 Have the Webhook react to pod creation/update only
  chart/templates/proxy_injector.yaml
  cli/cmd/inject.go
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  controller/cmd/proxy-injector/main.go
  controller/proxy-injector/fake/data/inject-linkerd-secrets-volume-spec.yaml
  controller/proxy-injector/server.go
  controller/proxy-injector/server_test.go
  controller/proxy-injector/tmpl/mutating_webhook_configuration.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_config.go
  controller/proxy-injector/webhook_config_test.go
  controller/proxy-injector/webhook_test.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/inject/patch.go
  pkg/inject/patch_test.go
  pkg/inject/report.go
  pkg/k8s/labels.go
Labels: priority/P0

#2547 Convert CLI inject proxy options to annotations
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  controller/proxy-injector/webhook.go
  pkg/inject/inject.go
  pkg/inject/patch.go
Labels: area/inject, priority/P0

#2532 Better handle TCP only resources in the dashboard
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ResourceList.test.jsx
Labels: area/web

#2533 Always show TCP open connections in the CLI
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/testdata/stat_all_output.golden
  cli/cmd/testdata/stat_one_output.golden
  cli/cmd/testdata/stat_one_tcp_output.golden
  test/stat/stat_test.go
Labels: area/cli

#2555 Promote the shared injection check to the CLI and webhook
  cli/cmd/inject.go
  cli/cmd/uninject.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/inject/report.go
  pkg/inject/report_test.go
  pkg/inject/uninject.go
Labels: area/inject, priority/P0

#2589 Update tap integration test to account for always-on mTLS
  test/tap/tap_test.go
Labels: area/identity, area/test, priority/P1

#2588 Introduce ServiceProfile integration tests
  test/install_test.go
  test/routes/routes_test.go
  test/routes/testdata/routes.smoke.golden
  testutil/test_helper.go
Labels: area/profiles, area/test, priority/P1

#2586 Adding local and cloud cross-browser testing for dashboard
  BUILD.md
  TEST.md
  bin/web
  web/app/integration/specs/logo-redirect.js
  web/app/integration/wdio-sauce.conf.js
  web/app/integration/wdio.conf.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/test

#2592 Introduce script to test multiple cloud providers
  TEST.md
  bin/test-cleanup
  bin/test-clouds
  bin/test-clouds-cleanup
  bin/test-run
  testutil/doc.go
  testutil/kubernetes_helper.go
  testutil/test_helper.go
Labels: area/test, priority/P1
