Repository linkerd/linkerd2, pull requests merged in 2019-11, with the labels that each got.

#3675 Fixed bad identity string for target pod in tap
  controller/cmd/tap/main.go
  controller/tap/server.go
Labels: area/tap

#3664 Improve how empty tables are displayed in dashboard
  web/app/js/components/BaseTable.jsx
  web/app/js/components/BaseTable.test.js
  web/app/js/components/EmptyCard.jsx
  web/app/js/components/ExpandableTable.jsx
Labels: area/web

#3674 Added simplified service name to list of allowed hosts for linkerd-web
  charts/linkerd2/templates/web.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: area/security, area/web, size/small

#3667 Add filter to namespace select button
  web/app/js/components/BaseTable.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/util/Utils.js
Labels: area/web

#3656 Add `linkerd check` to dashboard
  charts/linkerd2/templates/web-rbac.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  pkg/healthcheck/healthcheck.go
  web/Dockerfile
  web/app/css/styles.css
  web/app/js/components/CheckModal.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
  web/main.go
  web/srv/api_handlers.go
  web/srv/api_handlers_test.go
  web/srv/handlers.go
  web/srv/server.go
  web/srv/testdata/api_check_output.json
Labels: area/web

#3663 Display tap headers in dashboard
  web/app/js/components/ExpandableTable.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventHeadersTable.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/util/TapUtils.jsx
Labels: area/web

#3702 Upgrade go to 1.13.4
  .github/workflows/workflow.yml
  Dockerfile-go-deps
  Dockerfile-proxy
  bin/lint
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  go.mod
  go.sum
  pkg/profiles/profiles_test.go
  web/Dockerfile
Labels: area/build

#3694 Replaced `uuid` with `uid` from linkerd-config resource
  charts/linkerd2/templates/_config.tpl
  charts/linkerd2/templates/web-rbac.yaml
  cli/cmd/install.go
  cli/cmd/install_helm_test.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  controller/gen/config/config.pb.go
  controller/heartbeat/heartbeat.go
  controller/heartbeat/heartbeat_test.go
  pkg/charts/values.go
  pkg/charts/values_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  proto/config/config.proto
  test/install_test.go
  testutil/kubernetes_helper.go
  web/main.go
Labels: area/web, priority/P0

#3725 Upgrading yarn packages
  web/app/yarn.lock
Labels: area/web

#3733 GitHub Actions: known_hosts, max-parallel, gcloud
  .github/workflows/workflow.yml
Labels: area/build, area/test

#3723 Fix issue with check button in dashboard
  web/app/js/components/CheckModal.jsx
  web/app/js/components/ServiceMesh.jsx
Labels: area/web

#3695 Stop using react-iframe library in dashboard
  web/app/js/components/Community.jsx
  web/app/js/components/Community.test.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#3740 Fix issue with EdgesTable Grid wrapper
  web/app/js/components/ResourceDetail.jsx
Labels: area/web

#3763 Removed calico logutils dependency, incompatible with go 1.13
  Dockerfile-proxy
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  cni-plugin/main.go
  controller/Dockerfile
  go.mod
  go.sum
  web/Dockerfile
Labels: area/cni, area/debug
