Repository linkerd/linkerd2, pull requests merged in 2019-07, with the labels that each got.

#3016 Rename debug annotation to enable-debug-sidecar
  cli/cmd/testdata/inject_emojivoto_deployment_debug.golden.yml
  pkg/k8s/labels.go
Labels: area/cli, area/inject

#3017 Make ReplicaSet check more explicit.
  pkg/healthcheck/healthcheck.go
  test/testdata/check.golden
  test/testdata/check.proxy.golden
Labels: area/cli

#3025 Allow `edges` to handle requests to one resource from multiple namespaces
  controller/api/public/edges.go
Labels: area/cli

#3026 Add the 'linkerd.io/control-plane-ns' label to the Traffic Split CRD
  chart/templates/trafficsplit-crd.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: priority/P0

#2990 Have `linkerd endpoints` use `Destination.Get`
  cli/cmd/endpoints.go
  cli/cmd/endpoints_test.go
  cli/cmd/testdata/endpoints_all_output.golden
  cli/cmd/testdata/endpoints_all_output_json.golden
  cli/cmd/testdata/endpoints_one_output.golden
  cli/cmd/testdata/endpoints_one_output_json.golden
  cli/cmd/testdata/endpoints_two_outputs.golden
  controller/api/destination/client.go
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/stream_client.go
  controller/api/public/test_helper.go
  controller/cmd/public-api/main.go
  controller/script/destination-client/main.go
Labels: area/cli, priority/P1

#3038 Fix inject with path and add tests
  cli/cmd/inject_test.go
  cli/cmd/inject_util.go
Labels: area/cli, bug, priority/P0

#3040 Fix `linkerd check` missing uuid on version check
  cli/cmd/install.go
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
Labels: priority/P0

#3049 Mark High Availability as non-experimental
  cli/cmd/install.go
Labels: area/cli

#3055 Add NET_RAW to `linkerd check --pre`
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/testdata/check.pre.golden
Labels: area/cli

#3069 Fix upgrade tests conflicting with integration
  bin/test-cleanup
  bin/test-run
Labels: priority/P0

#3071 Add bin/git-commit-proxy-version
  .proxy-version
  Dockerfile-proxy
  bin/docker-build-proxy
  bin/git-commit-proxy-version
Labels: area/build

#3080 Improve object cleanup when integration tests fail
  .travis.yml
  TEST.md
  bin/test-cleanup
  bin/test-clouds-cleanup
  bin/test-run
  test/egress/egress_test.go
  test/get/get_test.go
  test/serviceprofiles/serviceprofiles_test.go
  test/tap/tap_test.go
  testutil/kubernetes_helper.go
Labels: area/test

#3048 Updating CLI output for `linkerd edges`
  cli/cmd/edges.go
  cli/cmd/edges_test.go
  cli/cmd/testdata/edges_one_output.golden
  cli/cmd/testdata/edges_one_output_json.golden
  cli/cmd/testdata/edges_wide_output.golden
  controller/api/public/test_helper.go
Labels: area/cli

#3097 `linkerd upgrade config` bombs when installation had a flag
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
Labels: area/cli, area/install, bug

#3091 Revert "Increase the retry duration in the post-upgrade 'check' integration test (#2944)"
  test/install_test.go
Labels: area/test

#3108 Integration Test Script Pre-/Post-Test Cleanup
  .travis.yml
  bin/test-run
Labels: area/test

#3056 Introduce Cluster Heartbeat cronjob
  chart/templates/heartbeat-rbac.yaml
  chart/templates/heartbeat.yaml
  chart/templates/psp.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  controller/Dockerfile
  controller/api/public/grpc_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/cmd/heartbeat/main.go
  controller/heartbeat/heartbeat.go
  controller/heartbeat/heartbeat_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/version/channels.go
  test/get/get_test.go
Labels: area/cli, area/controller, area/install, priority/P0

#3125 Introduce -A as a shorthand for --all-namespaces
  cli/cmd/edges.go
  cli/cmd/get.go
  cli/cmd/stat.go
Labels: area/cli

#3134 Fix resources yaml indentation
  chart/templates/_resources.yaml
  chart/templates/controller.yaml
  chart/templates/grafana.yaml
  chart/templates/heartbeat.yaml
  chart/templates/identity.yaml
  chart/templates/prometheus.yaml
  chart/templates/proxy_injector.yaml
  chart/templates/sp_validator.yaml
  chart/templates/tap.yaml
  chart/templates/web.yaml
Labels: area/cli, area/install

#2481 Introduce Go modules support
  .dockerignore
  .gitattributes
  .gitignore
  .travis.yml
  BUILD.md
  Dockerfile-go-deps
  Dockerfile-proxy
  Gopkg.lock
  Gopkg.toml
  TEST.md
  bin/_tag.sh
  bin/build-cli-bin
  bin/dep
  bin/go-run
  bin/protoc-go.sh
  bin/test-run
  bin/update-codegen.sh
  cli/Dockerfile-bin
  cli/static/templates.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  go.mod
  go.sum
  web/Dockerfile
Labels: area/build

#3138 Set HTTP security headers on dashboard
  web/srv/server.go
Labels: area/security, area/web, priority/P0

#3149 Remove unused argument
  cli/cmd/inject.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  pkg/inject/inject.go
Labels: area/inject, size/small

#3135 Add RSA support to TLS libraries
  pkg/tls/codec.go
  pkg/tls/cred.go
Labels: area/controller, area/install

#3133 Add "can create cronjobs" to linkerd check
  pkg/healthcheck/healthcheck.go
  test/testdata/check.pre.golden
Labels: area/cli

#3174 Set heartbeat cronjobs to not restart on failure
  chart/templates/heartbeat.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: area/controller

#3173 Introduce `linkerd --as` flag for impersonation
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/install.go
  cli/cmd/logs.go
  cli/cmd/metrics.go
  cli/cmd/public_api.go
  cli/cmd/root.go
  cli/cmd/upgrade.go
  cni-plugin/main.go
  controller/cmd/heartbeat/main.go
  controller/cmd/identity/main.go
  controller/k8s/api.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/api.go
  testutil/kubernetes_helper.go
Labels: area/cli
