Repository linkerd/linkerd2, pull requests merged in 2019-01, with the labels that each got.

#2026 Disallow both pre and proxy flags for check
  cli/cmd/check.go
Labels: area/cli

#2023 Enable lint check for comments
  bin/lint
  controller/api/proxy/client.go
  controller/api/public/client.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/ca/ca.go
  controller/ca/controller.go
  controller/gen/apis/serviceprofile/register.go
  controller/gen/apis/serviceprofile/v1alpha1/register.go
  controller/gen/apis/serviceprofile/v1alpha1/types.go
  controller/k8s/api.go
  controller/k8s/clientset.go
  controller/k8s/test_helper.go
  controller/proxy-injector/fake/factory.go
  controller/proxy-injector/tmpl/mutating_webhook_configuration.go
  controller/tap/client.go
  pkg/addr/addr.go
  pkg/admin/admin.go
  pkg/filesonly/filesonly.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/api.go
  pkg/k8s/k8s.go
  pkg/k8s/labels.go
  pkg/k8s/proxy.go
  pkg/profiles/profiles.go
  pkg/profiles/test_helper.go
  pkg/tls/tls.go
  pkg/version/version.go
  proxy-init/cmd/root.go
  proxy-init/iptables/iptables.go
  web/srv/server.go
  web/srv/test_helpers.go
Labels: area/build, area/test

#2028 Reduce webpack bundle size: import lodash by module
  web/app/.eslintrc
  web/app/js/components/BaseTable.jsx
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/CallToAction.jsx
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/ErrorBanner.jsx
  web/app/js/components/ErrorModal.jsx
  web/app/js/components/ExpandableTable.jsx
  web/app/js/components/MeshedStatusTable.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NavigationResource.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/NetworkGraph.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/ServiceMesh.test.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/TapLink.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopEventTable.jsx
  web/app/js/components/TopModule.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/TopRoutesModule.jsx
  web/app/js/components/TopRoutesTabs.jsx
  web/app/js/components/util/Accordion.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
  web/app/js/components/util/CliQueryUtils.js
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/MetricUtils.test.js
  web/app/js/components/util/OctopusArms.jsx
  web/app/js/components/util/SuccessRateMiniChart.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
  web/app/js/components/util/withREST.jsx
  web/app/package.json
  web/app/test/testHelpers.jsx
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#2030 Reduce webpack bundle size: import d3 modules individually
  web/app/js/components/NetworkGraph.jsx
  web/app/js/components/util/Utils.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#2031 Fix reporting of injected resources
  cli/cmd/inject.go
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.input.yml
  cli/cmd/testdata/inject_emojivoto_list.report
Labels: area/cli

#2035 Reduce webpack bundle size: replace moment with date-rns
  web/app/js/components/ServiceMesh.jsx
  web/app/package.json
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#2036 Reduce webpack bundle size: remove react prop types in production builds
  web/app/.babelrc
  web/app/js/components/NetworkGraph.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#2046 Doc fixup following #2044
  TEST.md
Labels: area/docs, area/test

#2051 Add SpeedMeasurePlugin to measure the speed of webpack builds
  web/app/package.json
  web/app/webpack.config.js
  web/app/yarn.lock
Labels: area/web

#2033 More granular control on checks made by CLI commands
  cli/cmd/check.go
  cli/cmd/dashboard.go
  cli/cmd/get.go
  cli/cmd/root.go
  cli/cmd/routes.go
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/top.go
  pkg/healthcheck/healthcheck.go
  pkg/version/version.go
  test/testdata/check.golden
  test/testdata/check.proxy.golden
Labels: area/cli

#2061 proxy: bump version to fix memory leak
  bin/docker-build-proxy
Labels: area/proxy

#2054 Added `linkerd uninject` command
  cli/cmd/inject.go
  cli/cmd/inject_util.go
  cli/cmd/root.go
  cli/cmd/testdata/inject_contour.input.yml
  cli/cmd/testdata/inject_contour_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_udp_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_uninject.report
  cli/cmd/testdata/inject_emojivoto_istio.input.yml
  cli/cmd/testdata/inject_emojivoto_istio_uninject.report
  cli/cmd/testdata/inject_emojivoto_list.input.yml
  cli/cmd/testdata/inject_emojivoto_list_uninject.report
  cli/cmd/testdata/inject_emojivoto_pod.input.yml
  cli/cmd/testdata/inject_emojivoto_pod_uninject.report
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.input.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests_uninject.report
  cli/cmd/testdata/inject_emojivoto_statefulset.input.yml
  cli/cmd/testdata/inject_emojivoto_statefulset_uninject.report
  cli/cmd/testdata/inject_gettest_deployment.bad.golden
  cli/cmd/uninject.go
  cli/cmd/uninject_test.go
  pkg/k8s/labels.go
Labels: area/cli

#2078 Modify all health checks to be specified via enums
  cli/cmd/check.go
  pkg/healthcheck/healthcheck.go
  test/testdata/check.golden
  test/testdata/check.pre.golden
  test/testdata/check.proxy.golden
Labels: area/cli

#2083 Group checkers by category
  cli/cmd/check.go
  cli/cmd/check_test.go
  cli/cmd/root.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
Labels: area/cli

#2058 Hash JS bundle to expire cache
  bin/web
  web/app/index_bundle.js.lodash.tmpl
  web/app/package.json
  web/app/webpack-mv-plugin.js
  web/app/webpack.config.js
  web/app/yarn.lock
  web/main.go
  web/srv/handlers.go
  web/srv/server.go
  web/templates/app.tmpl.html
Labels: area/web

#2089 When injecting, perform an uninject as a first step
  cli/cmd/inject.go
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.stderr.verbose
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.stderr.verbose
  cli/cmd/testdata/inject-filepath/expected/injected_redis.stderr.verbose
  cli/cmd/testdata/inject_contour.report
  cli/cmd/testdata/inject_contour.report.verbose
  cli/cmd/testdata/inject_contour_uninject.report
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_already_injected.input.yml
  cli/cmd/testdata/inject_emojivoto_already_injected.report
  cli/cmd/testdata/inject_emojivoto_already_injected.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_udp.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_udp_uninject.report
  cli/cmd/testdata/inject_emojivoto_deployment_uninject.report
  cli/cmd/testdata/inject_emojivoto_istio.input.yml
  cli/cmd/testdata/inject_emojivoto_istio.report
  cli/cmd/testdata/inject_emojivoto_istio.report.verbose
  cli/cmd/testdata/inject_emojivoto_istio_uninject.report
  cli/cmd/testdata/inject_emojivoto_list.report.verbose
  cli/cmd/testdata/inject_emojivoto_list_uninject.report
  cli/cmd/testdata/inject_emojivoto_pod.report.verbose
  cli/cmd/testdata/inject_emojivoto_pod_uninject.report
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.report.verbose
  cli/cmd/testdata/inject_emojivoto_pod_with_requests_uninject.report
  cli/cmd/testdata/inject_emojivoto_statefulset.report.verbose
  cli/cmd/testdata/inject_emojivoto_statefulset_uninject.report
  cli/cmd/testdata/inject_gettest_deployment.good.golden.stderr.verbose
  cli/cmd/uninject.go
  pkg/healthcheck/sidecar.go
Labels: area/cli

#2105 proxy: bump pinned version to fix a h2 bug
  bin/docker-build-proxy
Labels: area/proxy

#2063 Add display chips to the resource detail page to provide more detail
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/Chip.jsx
Labels: area/web

#2096 Add release notes for edge-19.1.2 release
  CHANGES.md
Labels: area/docs

#2122 Follow up to #2054: move magic strings into constants
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_output.golden
  cli/cmd/uninject.go
  cli/install/template.go
  pkg/k8s/labels.go
Labels: area/cli

#2108 Allow the resource detail page to display traffic from more than one resource type
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
Labels: area/web

#2114 Fix Unicode and color output for Windows
  cli/cmd/check.go
  cli/cmd/inject.go
  cli/cmd/logs.go
  cli/cmd/root.go
  cli/cmd/testdata/check_output.golden
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.stderr.verbose
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.stderr.verbose
  cli/cmd/testdata/inject-filepath/expected/injected_redis.stderr.verbose
  cli/cmd/testdata/inject_contour.report
  cli/cmd/testdata/inject_contour.report.verbose
  cli/cmd/testdata/inject_emojivoto_already_injected.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true.report
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true.report.verbose
  cli/cmd/testdata/inject_emojivoto_deployment_udp.report
  cli/cmd/testdata/inject_emojivoto_deployment_udp.report.verbose
  cli/cmd/testdata/inject_emojivoto_istio.report
  cli/cmd/testdata/inject_emojivoto_istio.report.verbose
  cli/cmd/testdata/inject_emojivoto_list.report.verbose
  cli/cmd/testdata/inject_emojivoto_pod.report.verbose
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.report.verbose
  cli/cmd/testdata/inject_emojivoto_statefulset.report.verbose
  cli/cmd/testdata/inject_gettest_deployment.good.golden.stderr.verbose
  test/testdata/check.golden
  test/testdata/check.pre.golden
  test/testdata/check.proxy.golden
Labels: area/cli, bug

#2025 Introduce resource selector and deprecate namespace field for ListPods
  cli/cmd/get.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/gen/public/public.pb.go
  pkg/healthcheck/healthcheck.go
  proto/public.proto
  web/srv/api_handlers.go
Labels: area/controller

#2130 Introduce version consistency checks
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/version.go
  cli/cmd/version_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/version.go
  pkg/healthcheck/version_test.go
  pkg/version/channels.go
  pkg/version/channels_test.go
  pkg/version/channelversion.go
  pkg/version/version.go
  pkg/version/version_test.go
  test/testdata/check.golden
  test/testdata/check.proxy.golden
Labels: area/cli

#2142 Check RoleBindings for specified single namespace only
  pkg/healthcheck/healthcheck.go
Labels: area/cli, area/controller

#2099 Add cli command to install linkerd service profiles
  cli/cmd/install-sp.go
  cli/cmd/install-sp_test.go
  cli/cmd/root.go
  cli/cmd/testdata/install-sp_default.golden
  cli/cmd/testdata/install-sp_output.golden
  cli/installsp/template.go
Labels: area/cli

#2086 Wire up stats commands for daemonsets (#2006)
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/top.go
  cli/install/template.go
  controller/Dockerfile
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes_test.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  grafana/dashboards/daemonset.json
  pkg/k8s/k8s.go
  proxy-init/Dockerfile
  web/Dockerfile
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/cli, area/telemetry

#2017 Remove proxy bind timeout from CLIs
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/root.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/install/template.go
  controller/proxy-injector/fake/data/config-proxy.yaml
  controller/proxy-injector/fake/data/inject-enabled-response.yaml
  controller/proxy-injector/fake/data/inject-no-labels-response.yaml
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
Labels: area/cli

#2098 Refactor `install`'s `render` output to be helm compatible
  Gopkg.lock
  Gopkg.toml
  cli/Dockerfile-bin
  cli/cmd/install.go
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/install/template.go
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli, area/controller

#2128 Add --proto flag to linkerd profile command to read protobuf files
  Gopkg.lock
  cli/Dockerfile-bin
  cli/cmd/profile.go
  cli/cmd/profile_test.go
  controller/Dockerfile
  controller/gen/apis/serviceprofile/v1alpha1/types.go
  pkg/profiles/openapi.go
  pkg/profiles/openapi_test.go
  pkg/profiles/profiles.go
  pkg/profiles/proto.go
  pkg/profiles/proto_test.go
  pkg/profiles/test_helper.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli

#2178 Fail CI on unlinted js code
  web/app/js/components/TapLink.jsx
  web/app/webpack.config.js
Labels: area/web
