Repository linkerd/linkerd2, pull requests merged in 2019-08, with the labels that each got.

#3161 Common structs for Helm
  pkg/inject/template-values.go
Labels: area/inject, area/install

#3167 Introduce tap APIService, update `linkerd tap`
  BUILD.md
  bin/test-cleanup
  chart/templates/tap-rbac.yaml
  chart/templates/tap.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
  controller/api/public/client.go
  controller/api/public/client_test.go
  controller/api/public/http_server.go
  controller/api/public/stream_client.go
  controller/cmd/tap/main.go
  controller/tap/apiserver.go
  controller/tap/apiserver_test.go
  controller/tap/handlers.go
  controller/tap/handlers_test.go
  pkg/k8s/authz.go
  pkg/k8s/fake.go
  pkg/k8s/labels.go
  pkg/protohttp/protohttp.go
  pkg/protohttp/protohttp_test.go
  test/install_test.go
  testutil/kubernetes_helper.go
Labels: area/cli, area/controller, area/install, area/tap

#3186 Update `linkerd top` to use Tap APIService
  cli/cmd/tap.go
  cli/cmd/top.go
  cli/tap/tap.go
Labels: area/tap

#3187 Update `linkerd profile --tap` to Tap APIService
  cli/cmd/profile.go
  cli/cmd/tap.go
  cli/cmd/top.go
  pkg/profiles/tap.go
  pkg/profiles/tap_test.go
  pkg/tap/tap.go
Labels: area/tap

#3192 Fix Tap resource/subresource APIGroupList
  controller/tap/handlers.go
  controller/tap/handlers_test.go
Labels: area/tap, bug

#3196 Update tap authz error with doc URL
  controller/tap/handlers.go
  controller/tap/handlers_test.go
Labels: area/tap

#3146 Add Control Plane Helm Templates And Proxy Partials
  .gitignore
  bin/helm.sh
  charts/linkerd2/.helmignore
  charts/linkerd2/Chart.yaml
  charts/linkerd2/requirements.lock
  charts/linkerd2/requirements.yaml
  charts/linkerd2/templates/NOTES.txt
  charts/linkerd2/templates/_affinity.tpl
  charts/linkerd2/templates/_config.tpl
  charts/linkerd2/templates/_helpers.tpl
  charts/linkerd2/templates/_validate.tpl
  charts/linkerd2/templates/config.yaml
  charts/linkerd2/templates/controller-rbac.yaml
  charts/linkerd2/templates/controller.yaml
  charts/linkerd2/templates/grafana-rbac.yaml
  charts/linkerd2/templates/grafana.yaml
  charts/linkerd2/templates/heartbeat-rbac.yaml
  charts/linkerd2/templates/heartbeat.yaml
  charts/linkerd2/templates/identity-rbac.yaml
  charts/linkerd2/templates/identity.yaml
  charts/linkerd2/templates/namespace.yaml
  charts/linkerd2/templates/prometheus-rbac.yaml
  charts/linkerd2/templates/prometheus.yaml
  charts/linkerd2/templates/proxy-injector-rbac.yaml
  charts/linkerd2/templates/proxy-injector.yaml
  charts/linkerd2/templates/psp.yaml
  charts/linkerd2/templates/serviceprofile-crd.yaml
  charts/linkerd2/templates/sp-validator-rbac.yaml
  charts/linkerd2/templates/sp-validator.yaml
  charts/linkerd2/templates/tap-rbac.yaml
  charts/linkerd2/templates/tap.yaml
  charts/linkerd2/templates/trafficsplit-crd.yaml
  charts/linkerd2/templates/web-rbac.yaml
  charts/linkerd2/templates/web.yaml
  charts/linkerd2/values-ha.yaml
  charts/linkerd2/values.yaml
  charts/partials/.helmignore
  charts/partials/Chart.yaml
  charts/partials/templates/NOTES.txt
  charts/partials/templates/_capabilities.tpl
  charts/partials/templates/_debug.tpl
  charts/partials/templates/_helpers.tpl
  charts/partials/templates/_metadata.tpl
  charts/partials/templates/_proxy-init.tpl
  charts/partials/templates/_proxy.tpl
  charts/partials/templates/_resources.tpl
  charts/partials/templates/_volumes.tpl
  charts/partials/values.yaml
Labels: area/install

#3205 Fix bash checks in `bin/helm.sh` and `bin/test-cleanup`
  bin/helm.sh
  bin/test-cleanup
Labels: area/cli, size/small

#3200 Refactor proxy injection to use Helm charts
  bin/build-cli-bin
  bin/helm.sh
  charts/chart
  charts/partials/templates/_proxy-init.tpl
  charts/partials/templates/_proxy.tpl
  charts/patch/Chart.yaml
  charts/patch/requirements.lock
  charts/patch/requirements.yaml
  charts/patch/templates/patch.json
  cli/Dockerfile-bin
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/main.go
  controller/Dockerfile
  controller/proxy-injector/fake/data/pod.patch.json
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  go.sum
  pkg/charts/charts.go
  pkg/charts/static/generate.go
  pkg/charts/static/templates.go
  pkg/charts/template-values.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/inject/patch.go
  pkg/inject/patch_test.go
  test/inject/testdata/injected_params.golden
Labels: area/cli, area/controller, area/inject, size/large

#3209 Fix bug in service profile name generation
  cli/cmd/profile.go
Labels: area/cli, size/small

#3210 Fix invalid `l5d-require-id` for some tap requests
  controller/api/destination/server_test.go
  controller/api/destination/test_helper.go
  controller/api/util/test_helper.go
  controller/tap/server.go
  controller/tap/server_test.go
Labels: area/tap

#3203 Introduce tap-admin ClusterRole, web privs flag
  chart/templates/tap-rbac.yaml
  chart/templates/web-rbac.yaml
  charts/linkerd2/templates/tap-rbac.yaml
  charts/linkerd2/templates/web-rbac.yaml
  cli/cmd/check.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
Labels: area/install, area/tap

#3214 Enable tap-admin ClusterRole privileges for `*`
  chart/templates/tap-rbac.yaml
  charts/linkerd2/templates/tap-rbac.yaml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
Labels: area/tap, bug

#3218 Bash function to setup Helm
  bin/helm
Labels: area/cli, area/test

#3223 Add integration test for `helm install`
  bin/helm
  bin/test-run
  test/install_test.go
  testutil/test_helper.go
Labels: area/test

#3236 Fix uninject
  cli/cmd/testdata/inject_emojivoto_deployment_uninjected.input.yml
  cli/cmd/uninject_test.go
  pkg/inject/uninject.go
Labels: area/cli, area/inject

#3247 Label and cleanup helm after integration tests
  bin/test-cleanup
  bin/test-run
Labels: area/test

#3176 Add trafficsplit metrics to CLI
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/testdata/stat_one_ts_output.golden
  cli/cmd/testdata/stat_one_ts_output_json.golden
  controller/api/public/prometheus.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/gen/public/public.pb.go
  pkg/k8s/k8s.go
  proto/public.proto
Labels: area/cli

#3238 Add container cpu and mem to heartbeat requests
  cli/cmd/install.go
  controller/cmd/heartbeat/main.go
  controller/heartbeat/heartbeat.go
  controller/heartbeat/heartbeat_test.go
Labels: area/controller, priority/P0

#3248 Update the Helm build script
  bin/helm-build
  bin/helm.sh
  charts/linkerd2/Chart.yaml
  charts/linkerd2/values.yaml
Labels: area/install

#3266 Fix integration test
  test/inject/inject_test.go
Labels: area/test

#3269 Document Helm dev workflow
  BUILD.md
Labels: area/docs, priority/P0

#3273 Update CNI integration tests
  cni-plugin/test/data/expected/01-linkerd-cni.conf-1
  cni-plugin/test/data/expected/10-calico.conflist-1
  cni-plugin/test/data/expected/10-host-local.conflist-1
Labels: area/test

#3276 Remove gRPC tap server listener from controller
  controller/cmd/tap/main.go
  controller/tap/apiserver.go
  controller/tap/apiserver_test.go
  controller/tap/handlers.go
  controller/tap/server.go
  controller/tap/server_test.go
Labels: area/controller, area/tap, priority/P0

#3272 Add changes for `edge-19.8.4`
  CHANGES.md
  charts/linkerd2/Chart.yaml
  charts/linkerd2/values.yaml
Labels: area/docs, priority/P0

#3284 Always use forward-slash when interacting with the VFS
  cli/cmd/install.go
  pkg/charts/defaults.go
Labels: area/cli, bug, priority/P0, size/small

#3280 Sorting the expected response for trafficsplit test
  controller/api/public/test_helper.go
Labels: priority/P0

#3286 proxy: Update proxy to master
  .proxy-version
Labels: priority/P0

#3285 Add changes for `edge-19.8.5`
  CHANGES.md
  charts/linkerd2/Chart.yaml
  charts/linkerd2/values.yaml
Labels: priority/P0

#3294 Add release notes for stable-2.5.0
  CHANGES.md
  charts/linkerd2/Chart.yaml
  charts/linkerd2/values.yaml
Labels: priority/P0

#3301 Added a "Linkerd Namespace" Grafana dashboard
  grafana/dashboards/namespace.json
Labels: area/telemetry

#3289 Introduce bin/kind, move executables to target/bin
  .gitignore
  .travis.yml
  bin/helm
  bin/kind
  bin/lint
  bin/protoc
Labels: area/test

#3304 Refactor bin/test-run for running tests separately
  bin/_test-run.sh
  bin/test-run
Labels: area/test

#3306 Add unit test for edges API endpoint
  cli/cmd/edges_test.go
  controller/api/public/edges.go
  controller/api/public/edges_test.go
  controller/api/public/test_helper.go
Labels: area/test

#3338 Avoid the dashboard requesting stats when not needed
  controller/api/destination/watcher/endpoints_watcher.go
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/util/ApiHelpers.jsx
Labels: area/web

#3331 Fix `linkerd edges` and topology graph
  controller/api/destination/watcher/endpoints_watcher.go
  controller/api/public/grpc_server.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  controller/tap/server.go
  pkg/inject/inject.go
Labels: bug
