Repository linkerd/linkerd2, pull requests merged in 2019-10, with the labels that each got.

#3491 Add integration tests for linkerd endpoints and edges
  test/edges/edges_test.go
  test/edges/testdata/linkerd_edges.golden
  test/endpoints/endpoints_test.go
  test/endpoints/testdata/linkerd_endpoints.golden
Labels: area/test

#3512 Fix development build instructions
  BUILD.md
Labels: area/docs

#3527 Add missing nodeSelector in Destination deployment
  charts/linkerd2/templates/destination.yaml
  cli/cmd/install_test.go
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: bug, size/small

#3540 Re-add the destination container to the controller spec
  charts/linkerd2/templates/controller.yaml
  charts/linkerd2/templates/destination.yaml
  charts/partials/templates/_proxy.tpl
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_debug.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_proxy_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_overridden.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  controller/proxy-injector/fake/data/pod.patch.json
  test/endpoints/endpoints_test.go
  test/endpoints/testdata/linkerd_endpoints.golden
  test/inject/testdata/injected_default.golden
  test/inject/testdata/injected_params.golden
Labels: priority/P0

#3500 Remove Discovery service leftovers
  BUILD.md
  bin/protoc-go.sh
  controller/api/destination/server.go
  controller/api/discovery/client.go
  controller/api/discovery/test_helper.go
  controller/api/public/client.go
  controller/api/public/client_test.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/cmd/public-api/main.go
  controller/gen/client/clientset/versioned/clientset.go
  controller/gen/controller/discovery/discovery.pb.go
  controller/script/discovery-client/main.go
  proto/controller/discovery.proto
Labels: polish

#3589 Keep old releases in Helm repo index
  .github/workflows/workflow.yml
  bin/helm-build
Labels: area/build, bug, priority/P0, size/small

#3547 Responsive dashboard sidebar behavior and refactoring Navigation component
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/BreadcrumbHeader.test.jsx
  web/app/js/components/NamespaceConfirmationModal.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/Navigation.test.jsx
  web/app/js/components/util/SvgWrappers.jsx
  web/app/js/components/util/theme.js
Labels: area/web

#3568 Faster `linkerd install --ignore-cluster`
  cli/cmd/install.go
Labels: area/cli

#3569 Add APIService fake clientset support
  Dockerfile-proxy
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/k8s/test_helper.go
  go.mod
  go.sum
  pkg/k8s/fake.go
  pkg/k8s/fake_test.go
  web/Dockerfile
Labels: area/cli

#3602 Replace actions/checkout with actions/upload/download
  .github/workflows/workflow.yml
Labels: area/build

#3655 Add proxy-injector-injections count to heartbeat
  controller/cmd/heartbeat/main.go
  controller/heartbeat/heartbeat.go
  controller/heartbeat/heartbeat_test.go
Labels: area/inject

#3644 DNS rebinding protection for the dashboard
  charts/linkerd2/templates/web.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  web/main.go
  web/srv/server.go
Labels: area/controller, area/security, area/web, priority/P0
