Repository linkerd/linkerd2, pull requests merged in 2019-05, with the labels that each got.

#2772 Define multi-stage commands as subcommands
  cli/cmd/check.go
  cli/cmd/install.go
  cli/cmd/upgrade.go
Labels: area/cli, area/install

#2757 Use port-forwarding for linkerd CLIs
  cli/cmd/dashboard.go
  cli/cmd/version.go
  cli/cmd/version_test.go
  controller/api/public/client.go
  pkg/k8s/api.go
  pkg/k8s/api_test.go
  pkg/k8s/k8s.go
  pkg/k8s/k8s_test.go
  pkg/k8s/portforward.go
Labels: area/cli

#2785 Change the service profile integration test assertion conditions
  test/serviceprofiles/serviceprofiles_test.go
  test/serviceprofiles/testdata/hello_world.yaml
  test/serviceprofiles/testdata/hello_world_retries.yaml
Labels: area/test, priority/P1

#2764 Fix check/dashboard failing from one pod when HA
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
Labels: area/cli, priority/P2

#2781 Fix Service Profile CRD check to handle k8s errors
  pkg/k8s/authz.go
  pkg/k8s/authz_test.go
  pkg/k8s/fake.go
Labels: area/controller

#2797 Fix proxy build to build go-deps and set version
  bin/docker-build-proxy
Labels: area/build

#2791 Add `linkerd inject --manual` test into install_test.go
  test/install_test.go
  test/testdata/inject.report.golden
Labels: area/test, priority/P1

#2793 Adding edges endpoint to public API
  controller/api/public/client.go
  controller/api/public/edges.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/test_helper.go
  controller/gen/public/public.pb.go
  proto/public.proto
Labels: priority/P0

#2805 Integration test for k8s events generated during install
  test/install_test.go
Labels: area/test, priority/P1

#2807 Support for resources opting-out of tap
  cli/cmd/inject.go
  cli/cmd/root.go
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.input.yml
  controller/tap/server.go
  controller/tap/server_test.go
  pkg/inject/inject.go
  pkg/k8s/labels.go
  test/inject/inject_test.go
  test/inject/testdata/injected_params.golden
  test/tap/tap_test.go
  test/tap/testdata/tap_application.yaml
Labels: area/cli, area/inject, area/tap

#2803 Introduce pre-install healthcheck for clock skew
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/testdata/check.pre.golden
Labels: area/cli

#2808 Adding an edges command to the CLI
  cli/cmd/edges.go
  cli/cmd/root.go
  controller/api/util/api_utils.go
Labels: area/cli, priority/P0

#2773 Move tap service into its own pod.
  chart/templates/controller.yaml
  chart/templates/tap-rbac.yaml
  chart/templates/tap.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install-sp_default.golden
  cli/cmd/testdata/install-sp_output.golden
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/installsp/template.go
  controller/cmd/tap/main.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  test/get/get_test.go
  test/install_test.go
  test/routes/routes_test.go
  test/stat/stat_test.go
  web/app/js/components/ServiceMesh.jsx
Labels: area/controller

#2826 Validate that data exists for resource type in Prometheus
  controller/api/public/edges.go
  controller/api/public/prometheus.go
Labels: area/cli

#2827 Unhide CLI inject's --disable-tap now that #2811 has been addressed
  cli/cmd/inject.go
Labels: area/cli, area/identity

#2666 Output check result as json
  cli/cmd/check.go
  cli/cmd/check_test.go
  cli/cmd/testdata/check_output.golden
  cli/cmd/testdata/check_output_json.golden
  pkg/healthcheck/healthcheck.go
Labels: area/cli

#2806 Install MWC and VWC During Installation
  chart/templates/proxy_injector-rbac.yaml
  chart/templates/proxy_injector.yaml
  chart/templates/sp_validator-rbac.yaml
  chart/templates/sp_validator.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  controller/cmd/proxy-injector/main.go
  controller/cmd/sp-validator/main.go
  controller/proxy-injector/tmpl/mutating_webhook_configuration.go
  controller/sp-validator/tmpl/validating_webhook_configuration.go
  controller/webhook/config.go
  controller/webhook/config_test.go
  controller/webhook/launcher.go
  controller/webhook/server.go
  controller/webhook/server_test.go
  pkg/k8s/labels.go
Labels: area/controller

#2835 Modify upgrade integration test to upgrade stable
  bin/test-run
  test/install_test.go
Labels: area/test

#2842 Add debug container annotation
  cli/cmd/testdata/inject_emojivoto_deployment_debug.golden.yml
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/k8s/labels.go
Labels: area/debug

#2837 Adding unit test for CLI edges command
  cli/cmd/edges.go
  cli/cmd/edges_test.go
  cli/cmd/testdata/edges_one_output.golden
  cli/cmd/testdata/edges_one_output_json.golden
  controller/api/public/test_helper.go
Labels: area/cli, area/test

#2854 Generate the debug container spec in the shared library
  cli/cmd/inject.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
Labels: area/debug

#2858 Make JSON output of `linkerd edges` consistent
  cli/cmd/edges.go
  cli/cmd/testdata/edges_one_output.golden
  cli/cmd/testdata/edges_one_output_json.golden
Labels: priority/P0

#2856 Rename "Authorities" table in dashboard to "Services" for readability
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NavigationResources.jsx
Labels: area/web, priority/P0
