Repository linkerd/linkerd2, pull requests merged in 2019-09, with the labels that each got.

#3333 Add trafficsplit to dashboard
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/Namespace.jsx
  web/app/js/components/NavigationResource.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/TrafficSplitDetail.jsx
  web/app/js/components/util/EdgesUtils.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/web

#3339 Introduce Github Actions CI workflow
  .github/workflows/workflow.yml
Labels: area/test

#3364 Add support for k8s 1.16
  cli/cmd/testdata/inject_contour.input.yml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_already_injected.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_config_overrides.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_debug.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_proxy_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_version_config.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_true.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_injectDisabled.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_overridden.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_overridden_noinject.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_uninjected.input.yml
  cli/cmd/testdata/inject_emojivoto_istio.input.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.input.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.input.yml
  cli/cmd/testdata/inject_gettest_deployment.bad.input.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.input.yml
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/install/cni-template.go
  controller/api/public/grpc_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes_test.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/inject/inject.go
  pkg/k8s/authz_test.go
  pkg/k8s/fake_test.go
  test/egress/testdata/proxy.yaml
  test/get/testdata/not_to_be_injected_application.yaml
  test/get/testdata/to_be_injected_application.yaml
  test/inject/testdata/inject_test.yaml
  test/inject/testdata/injected_default.golden
  test/inject/testdata/injected_params.golden
  test/serviceprofiles/testdata/hello_world.yaml
  test/serviceprofiles/testdata/tap_application.yaml
  test/tap/testdata/tap_application.yaml
  test/testdata/smoke_test.yaml
  testutil/kubernetes_helper.go
Labels: area/install

#3363 Couple of injection events fixes
  charts/linkerd2/templates/proxy-injector-rbac.yaml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
Labels: area/inject

#3380 Add known KillPod k8s event to integration test
  test/install_test.go
Labels: area/test

#3327 Emit error when cannot connect to kubernetes
  cli/cmd/install.go
  pkg/healthcheck/healthcheck.go
Labels: area/cli

#3384 Decrease proxy and web Docker image sizes
  Dockerfile-base
  Dockerfile-debug
  Dockerfile-proxy
  bin/docker-build-base
  bin/docker-build-cli-bin
  bin/docker-build-controller
  bin/docker-build-proxy
  bin/docker-build-web
  bin/docker-pull-deps
  bin/docker-push-deps
  cni-plugin/Dockerfile
  web/Dockerfile
Labels: area/build

#3378 Shrink controller Docker image from 315MB to 38MB
  controller/Dockerfile
  controller/cmd/destination/main.go
  controller/cmd/heartbeat/main.go
  controller/cmd/identity/main.go
  controller/cmd/main.go
  controller/cmd/proxy-injector/main.go
  controller/cmd/public-api/main.go
  controller/cmd/sp-validator/main.go
  controller/cmd/tap/main.go
  controller/webhook/launcher.go
  pkg/flags/flags.go
  proxy-identity/main.go
  web/main.go
Labels: area/build

#3368 Fixing row keys for edges
  web/app/js/components/util/EdgesUtils.jsx
Labels: area/web

#3369 Update dependencies for dashboard
  web/app/.babelrc
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#3371 Adding "external link" icons to sidebar menu items if appropriate
  web/app/js/components/Navigation.jsx
Labels: area/web

#3398 Replace Travis with GitHub Actions for master/tags
  .dockerignore
  .github/workflows/workflow.yml
  .travis.rsa.enc
  .travis.yml
  BUILD.md
  README.md
Labels: area/test

#3381 Preload Prometheus and proxy-init docker images
  .github/workflows/workflow.yml
Labels: area/test

#3409 Make KillPodSandbox regex match broader
  test/install_test.go
Labels: area/test

#3387 Update to client-go v12.0.0, forked stern
  .github/workflows/workflow.yml
  Dockerfile-go-deps
  Dockerfile-proxy
  cli/Dockerfile-bin
  cli/cmd/logs.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  go.mod
  go.sum
  pkg/prometheus/prometheus.go
  web/Dockerfile
Labels: area/build, area/cli, area/controller, priority/P0

#3292 Last changes before submitting to the Helm incubator
  bin/helm-build
  charts/linkerd2/.helmignore
  charts/linkerd2/Chart.yaml
  charts/linkerd2/OWNERS
  charts/linkerd2/README.md
  charts/linkerd2/templates/NOTES.txt
  charts/linkerd2/values.yaml
Labels: area/install

#3416 Fix integration test event regex matching
  test/install_test.go
Labels: area/test

#3421 Trim certs and keys in the Helm charts
  charts/linkerd2/templates/_config.tpl
  charts/linkerd2/templates/identity.yaml
  charts/linkerd2/templates/proxy-injector-rbac.yaml
  charts/linkerd2/templates/sp-validator-rbac.yaml
  charts/linkerd2/templates/tap-rbac.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
Labels: area/install

#3401 Update Prometheus config to keep only needed cadvisor metrics
  charts/linkerd2/templates/prometheus.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_ha.golden
Labels: priority/P0

#3442 Fix injector timeout under high load
  controller/k8s/api.go
  controller/k8s/api_test.go
Labels: area/controller, area/inject, area/production

#3464 Increase the Grafana dashboards refresh interval
  grafana/dashboards/authority.json
  grafana/dashboards/daemonset.json
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
  grafana/dashboards/job.json
  grafana/dashboards/kubernetes.json
  grafana/dashboards/namespace.json
  grafana/dashboards/pod.json
  grafana/dashboards/replicationcontroller.json
  grafana/dashboards/service.json
  grafana/dashboards/statefulset.json
  grafana/dashboards/top-line.json
Labels: area/controller, priority/P0

#3439 Add --disable-heartbeat flag for linkerd install|upgrade
  cli/cmd/install.go
  cli/cmd/upgrade.go
  pkg/healthcheck/healthcheck.go
  test/testdata/check.golden
  test/testdata/check.proxy.golden
Labels: area/cli, area/install

#3467 Redesign of sidebar
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/NavigationResource.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/ResourceList.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/SvgWrappers.jsx
  web/app/js/index.js
  web/app/package.json
  web/app/yarn.lock
  web/srv/server.go
Labels: area/web

#3481 Introduce Tracing Annotations
  charts/linkerd2/values.yaml
  charts/partials/templates/_proxy.tpl
  controller/proxy-injector/webhook.go
  pkg/charts/values.go
  pkg/charts/values_test.go
  pkg/inject/inject.go
  pkg/inject/inject_test.go
  pkg/inject/report.go
  pkg/k8s/labels.go
Labels: area/inject, priority/P0

#3410 Add TapEvent headers and trailers to the tap protobuf
  Dockerfile-proxy
  cli/Dockerfile-bin
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  cli/cmd/testdata/tap_busy_output_json.golden
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/util/api_utils.go
  controller/gen/controller/discovery/discovery.pb.go
  controller/gen/controller/tap/tap.pb.go
  controller/gen/public/public.pb.go
  controller/tap/server.go
  go.mod
  go.sum
  proto/public.proto
  web/Dockerfile
Labels: area/tap
