Repository linkerd/linkerd2, pull requests merged in 2019-02, with the labels that each got.

#2197 Fix spelling on linkerd check link
  pkg/healthcheck/healthcheck.go
Labels: area/cli, area/docs

#2196 Use the proper controller identity when configuring pods with TLS
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  controller/proxy-injector/fake/data/inject-empty-response.yaml
  controller/proxy-injector/fake/data/inject-enabled-response.yaml
  controller/proxy-injector/fake/data/inject-no-init-container-response.yaml
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
  pkg/k8s/labels.go
Labels: priority/P0

#2193 Configure proxy keepalives via the environment
  bin/docker-build-proxy
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/root.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/install/template.go
  controller/proxy-injector/fake/data/config-proxy.yaml
  controller/proxy-injector/fake/data/inject-empty-response.yaml
  controller/proxy-injector/fake/data/inject-enabled-response.yaml
  controller/proxy-injector/fake/data/inject-no-init-container-response.yaml
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
Labels: area/cli, area/inject, priority/P0

#2189 Introduce go generate to embed static templates
  .gitignore
  Gopkg.lock
  chart/Chart.yaml
  chart/templates/base.yaml
  chart/templates/proxy_injector.yaml
  chart/templates/tls.yaml
  cli/Dockerfile-bin
  cli/cmd/install.go
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/main.go
  cli/static/generate.go
  cli/static/templates.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/build, area/cli

#2191 Consolidate timeouts for `linkerd check`
  cli/cmd/check.go
  cli/cmd/check_test.go
  cli/cmd/version.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/healthcheck/version.go
  pkg/healthcheck/version_test.go
  pkg/k8s/api.go
  pkg/k8s/portforward.go
  pkg/version/channels.go
  pkg/version/channels_test.go
Labels: area/cli

#2202 Reorganize install/inject config structs
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/root.go
Labels: area/cli

#2206 Build request urls in the most generic possible way
  pkg/k8s/api.go
  pkg/k8s/api_test.go
  pkg/k8s/k8s.go
  pkg/k8s/testdata/config.test
Labels: priority/P1

#2215 If GOPATH env var not set, use build.Default.GOPATH
  cli/static/templates.go
Labels: area/build, bug

#2211 Add support for `basePath` in swagger 2.0 files
  pkg/profiles/openapi.go
Labels: area/profiles, priority/P1

#2225 Proxy: bump pinned version to 7add4fc
  bin/docker-build-proxy
Labels: area/proxy

#2221 Modify klog to be verbose when controller log-level is set to debug
  pkg/flags/flags.go
Labels: area/controller, area/debug, priority/P0

#2195 Introduce Discovery API and endpoints command
  BUILD.md
  Gopkg.lock
  bin/protoc-go.sh
  cli/Dockerfile-bin
  cli/cmd/endpoints.go
  cli/cmd/endpoints_test.go
  cli/cmd/root.go
  cli/cmd/stat.go
  cli/cmd/testdata/endpoints_all_output.golden
  cli/cmd/testdata/endpoints_all_output_json.golden
  cli/cmd/testdata/endpoints_one_output.golden
  cli/cmd/testdata/endpoints_one_output_json.golden
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/proxy/endpoint_listener.go
  controller/api/proxy/endpoint_listener_test.go
  controller/api/proxy/endpoints_watcher.go
  controller/api/proxy/endpoints_watcher_test.go
  controller/api/proxy/k8s_resolver.go
  controller/api/proxy/k8s_resolver_test.go
  controller/api/proxy/resolver.go
  controller/api/proxy/server.go
  controller/api/proxy/server_test.go
  controller/api/proxy/test_helper.go
  controller/api/public/client.go
  controller/api/public/client_test.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/http_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  controller/cmd/proxy-api/main.go
  controller/cmd/public-api/main.go
  controller/gen/controller/discovery/discovery.pb.go
  controller/gen/public/public.pb.go
  controller/script/destination-client/main.go
  controller/script/discovery-client/main.go
  controller/tap/server.go
  pkg/addr/addr.go
  pkg/addr/addr_test.go
  pkg/healthcheck/healthcheck.go
  proto/controller/discovery.proto
  proto/public.proto
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/cli, area/controller, area/debug

#2218 Improve ServiceProfile validation in linkerd check
  Gopkg.lock
  chart/templates/base.yaml
  cli/Dockerfile-bin
  cli/cmd/inject.go
  cli/cmd/inject_util.go
  cli/cmd/install.go
  cli/cmd/profile_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/uninject.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/proxy-injector/fake/factory.go
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_config.go
  pkg/healthcheck/healthcheck.go
  pkg/profiles/openapi.go
  pkg/profiles/profiles.go
  pkg/profiles/profiles_test.go
  pkg/profiles/test_helper.go
  proxy-init/Dockerfile
  web/Dockerfile
  web/srv/handlers_test.go
Labels: area/cli, area/profiles, priority/P0

#2229 Replacing lodash filter with native filter to avoid additional import
  web/app/js/components/util/withREST.jsx
Labels: area/web

#2234 Add statefulsets to the dashboard and CLI
  chart/templates/base.yaml
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/top.go
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes_test.go
  controller/api/util/api_utils.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  grafana/dashboards/statefulset.json
  pkg/k8s/k8s.go
  web/app/js/components/Namespace.jsx
  web/app/js/components/NamespaceLanding.jsx
  web/app/js/components/NavigationResources.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/cli, area/controller, area/telemetry, area/web

#2245 Update check command hint URLs to new alias
  cli/cmd/check.go
  cli/cmd/check_test.go
  cli/cmd/testdata/check_output.golden
  pkg/healthcheck/healthcheck.go
Labels: area/cli, area/debug, area/docs, priority/P0

#2249 Honour install's `proxy-log-level` flag when autoinjecting proxies
  chart/templates/proxy_injector.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_output.golden
Labels: area/cli, area/debug, priority/P0

#2250 proxy: Log canonicalization warnings on only the first error
  bin/docker-build-proxy
Labels: area/proxy

#2251 Update CHANGES.md for edge-19.2.2 release
  CHANGES.md
Labels: area/docs, priority/P0

#2253 Clicking Linkerd logo on web UI redirects to /overview
  web/app/js/components/Navigation.jsx
Labels: area/web

#2259 Retroactively update edge-19.2.1 release notes
  CHANGES.md
Labels: area/docs, priority/P0

#2261 Kubernetes health check no longer triggers warning in web UI Top view
  web/app/js/components/TapLink.jsx
Labels: area/web

#2267 Update auto-inject to set LINKERD2_PROXY_ID in all cases
  controller/proxy-injector/fake/data/inject-enabled-tls-disabled-response.yaml
  controller/proxy-injector/webhook.go
Labels: priority/P0

#2263 Update CHANGES.md for the stable-2.2.0 release
  CHANGES.md
Labels: area/docs, priority/P0

#2239 Introduce golangci-lint tooling, fixes
  .gitignore
  .travis.yml
  Gopkg.lock
  Gopkg.toml
  TEST.md
  bin/lint
  cli/Dockerfile-bin
  cli/cmd/endpoints.go
  cli/cmd/inject.go
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/proxy/endpoint_listener_test.go
  controller/api/proxy/endpoints_watcher_test.go
  controller/api/proxy/k8s_resolver.go
  controller/api/proxy/k8s_resolver_test.go
  controller/api/proxy/profile_listener_test.go
  controller/api/proxy/profile_watcher_test.go
  controller/api/public/client_test.go
  controller/api/public/grpc_server_test.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/public/top_routes_test.go
  controller/api/util/api_utils_test.go
  controller/k8s/api_test.go
  controller/proxy-injector/patch_test.go
  controller/proxy-injector/server.go
  controller/proxy-injector/webhook.go
  controller/tap/server_test.go
  pkg/addr/addr_test.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/profiles/openapi_test.go
  pkg/profiles/proto_test.go
  pkg/profiles/tap_test.go
  pkg/profiles/test_helper.go
  proxy-init/Dockerfile
  web/Dockerfile
Labels: area/build, area/test

#2240 Add Go code coverage to ci and docs
  .travis.yml
  TEST.md
Labels: area/test

#2242 Bump Prometheus to v2.7.1, Grafana to 5.4.3
  cli/cmd/install.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  grafana/Dockerfile
Labels: area/build, area/controller, area/telemetry

#2252 Fix Dockerfile-proxy to error out if fetch fails
  Dockerfile-proxy
Labels: area/build

#2284 Fix golangci-lint config to use default golint
  .gitignore
  .golangci.yml
  bin/lint
Labels: area/build, area/test

#2279 Issue 2276: Do not log error when timeout is blank
  controller/api/proxy/profile_listener.go
  pkg/profiles/profiles.go
Labels: area/controller, bug

#2281 Rename linkerd-proxy-api to linkerd-destination
  BUILD.md
  chart/templates/base.yaml
  chart/templates/proxy_injector.yaml
  cli/cmd/endpoints.go
  cli/cmd/inject.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/logs.go
  cli/cmd/root.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install-sp_default.golden
  cli/cmd/testdata/install-sp_output.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/installsp/template.go
  controller/api/destination/endpoint_listener.go
  controller/api/destination/endpoint_listener_test.go
  controller/api/destination/endpoints_watcher.go
  controller/api/destination/endpoints_watcher_test.go
  controller/api/destination/fallback_profile_listener.go
  controller/api/destination/fallback_profile_listener_test.go
  controller/api/destination/k8s_resolver.go
  controller/api/destination/k8s_resolver_test.go
  controller/api/destination/profile_listener.go
  controller/api/destination/profile_listener_test.go
  controller/api/destination/profile_watcher.go
  controller/api/destination/profile_watcher_test.go
  controller/api/destination/resolver.go
  controller/api/destination/server.go
  controller/api/destination/server_test.go
  controller/api/destination/test_helper.go
  controller/api/public/grpc_server_test.go
  controller/cmd/destination/main.go
  controller/cmd/public-api/main.go
  controller/proxy-injector/fake/data/config-proxy-tls-disabled.yaml
  controller/proxy-injector/fake/data/config-proxy.yaml
  controller/proxy-injector/fake/data/inject-sidecar-container-spec.yaml
  controller/script/discovery-client/main.go
  test/install_test.go
  web/app/js/components/ServiceMesh.jsx
Labels: area/controller, area/identity

#2243 Instrument k8s clients
  controller/k8s/clientset.go
  grafana/dashboards/authority.json
  grafana/dashboards/daemonset.json
  grafana/dashboards/deployment.json
  grafana/dashboards/grafana.json
  grafana/dashboards/health.json
  grafana/dashboards/pod.json
  grafana/dashboards/prometheus-benchmark.json
  grafana/dashboards/prometheus.json
  grafana/dashboards/replicationcontroller.json
  grafana/dashboards/service.json
  grafana/dashboards/top-line.json
  pkg/prometheus/prometheus.go
Labels: area/controller, area/debug, area/telemetry

#2313 Split install template into component-specific files
  chart/templates/base.yaml
  chart/templates/ca.yaml
  chart/templates/controller.yaml
  chart/templates/grafana.yaml
  chart/templates/namespace.yaml
  chart/templates/prometheus.yaml
  chart/templates/proxy_injector.yaml
  chart/templates/serviceprofile.yaml
  chart/templates/web.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
Labels: area/install

#2291 Draft on CLI install/inject config protobuf
  bin/protoc-go.sh
  controller/gen/config/config.pb.go
  proto/config/config.proto
Labels: area/inject, area/install, in progress

#2315 test: Overwrite .golden files with actual output
  BUILD.md
  cli/cmd/endpoints_test.go
  cli/cmd/inject_test.go
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/install-sp_test.go
  cli/cmd/install_test.go
  cli/cmd/main_test.go
  cli/cmd/routes_test.go
  cli/cmd/stat_test.go
  cli/cmd/test_helper.go
  cli/cmd/testdata/inject_emojivoto_deployment.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.input.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.input.yml
  cli/cmd/testdata/inject_emojivoto_list.input.yml
  cli/cmd/testdata/inject_emojivoto_pod.input.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.input.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.input.yml
  cli/cmd/uninject_test.go
Labels: area/test

#2272 Modify the grafana variable queries to use a tcp-based metric
  grafana/dashboards/daemonset.json
  grafana/dashboards/deployment.json
  grafana/dashboards/health.json
  grafana/dashboards/pod.json
  grafana/dashboards/replicationcontroller.json
  grafana/dashboards/statefulset.json
  grafana/dashboards/top-line.json
Labels: area/controller

#2330 Fix egress integration test to accomodate httpbin
  test/egress/egress_test.go
Labels: area/test

#2324 Ensure shared tooltips in Linkerd Health dashboard
  grafana/dashboards/health.json
Labels: area/telemetry

#2341 Fix build-cli-bin to use generated templates
  bin/build-cli-bin
Labels: area/build, area/cli

#2343 Make test-cleanup delete clusterrole[binding]s
  bin/test-cleanup
Labels: area/test

#2275 Add an Endpoints view to the web dashboard
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/Debug.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/index.js
  web/srv/api_handlers.go
  web/srv/handlers.go
  web/srv/server.go
Labels: area/web

#2346 Removing 'Help' hierarchy and surfacing links on navigation sidebar
  web/app/js/components/Navigation.jsx
Labels: area/web

#2335 pkg/tls: Make it possible to load a CA from disk
  controller/ca/controller.go
  controller/cmd/proxy-injector/main.go
  controller/proxy-injector/server.go
  controller/proxy-injector/server_test.go
  controller/proxy-injector/webhook_config.go
  controller/proxy-injector/webhook_config_test.go
  pkg/tls/ca.go
  pkg/tls/codec.go
  pkg/tls/cred.go
  pkg/tls/cred_test.go
Labels: area/identity

#2344 Install the Linkerd global and proxy config maps
  chart/templates/controller.yaml
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  controller/gen/config/config.pb.go
  controller/gen/controller/discovery/discovery.pb.go
  proto/config/config.proto
Labels: area/cli, area/install

#2241 Bump base Docker images
  .golangci.yml
  .travis.yml
  Dockerfile-base
  Dockerfile-go-deps
  Dockerfile-proxy
  bin/docker-build-base
  bin/docker-pull-deps
  bin/docker-push-deps
  bin/lint
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  proxy-init/Dockerfile
  proxy-init/integration_test/iptables/Dockerfile-tester
  web/Dockerfile
Labels: area/build

#2356 Enable gosimple linter, fix issues
  .golangci.yml
  cli/cmd/endpoints.go
  cli/cmd/root.go
  controller/k8s/api_test.go
  controller/proxy-injector/server_test.go
  pkg/tls/cred_test.go
  testutil/kubernetes_helper.go
  web/srv/api_handlers.go
Labels: area/test

#2357 Enable `unused` linter
  .golangci.yml
  cli/cmd/install-sp.go
  cli/cmd/profile.go
  cli/cmd/root.go
  cli/cmd/routes.go
  cli/cmd/top.go
  cli/cmd/uninject_test.go
  cni-plugin/main.go
  controller/api/destination/endpoint_listener_test.go
  controller/api/destination/endpoints_watcher.go
  controller/api/public/test_helper.go
  controller/api/public/top_routes_test.go
  controller/proxy-injector/webhook_test.go
  pkg/healthcheck/version_test.go
Labels: area/test

#2362 Enable more linters
  .golangci.yml
Labels: area/test

#2361 Fix hint URLs not display for RPC checks
  pkg/healthcheck/healthcheck.go
  test/testdata/check.golden
  test/testdata/check.proxy.golden
  test/testdata/check.proxy.single_namespace.golden
  test/testdata/check.single_namespace.golden
Labels: area/cli

#2360 Increase integration test timeouts
  .travis.yml
  test/install_test.go
  testutil/test_helper.go
Labels: area/test

#2364 lint: Enable scopelint
  .golangci.yml
  cli/cmd/inject_test.go
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/install-sp_test.go
  cli/cmd/install_test.go
  cli/cmd/logs_test.go
  cli/cmd/uninject_test.go
  cli/cmd/version_test.go
  controller/api/destination/endpoints_watcher_test.go
  controller/api/destination/k8s_resolver_test.go
  controller/api/destination/profile_watcher_test.go
  controller/api/public/top_routes_test.go
  controller/proxy-injector/webhook_test.go
  pkg/addr/addr_test.go
  pkg/healthcheck/healthcheck.go
  pkg/profiles/profiles_test.go
  pkg/version/channels_test.go
  pkg/version/version_test.go
  test/stat/stat_test.go
Labels: area/test

#2262 Modify StatSummary to also return TCP stats
  cli/cmd/stat_test.go
  controller/api/public/prometheus.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/gen/public/public.pb.go
  proto/public.proto
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/MetricUtils.jsx
  web/app/js/components/util/MetricUtils.test.js
  web/app/js/components/util/Utils.js
  web/app/js/components/util/Utils.test.js
  web/app/test/fixtures/deployRollup.json
  web/srv/api_handlers.go
Labels: area/controller, area/web

#2365 lint: Enable goconst
  .golangci.yml
  cli/cmd/endpoints.go
  cli/cmd/endpoints_test.go
  cli/cmd/inject_test.go
  cli/cmd/install_test.go
  cli/cmd/profile_test.go
  cli/cmd/root.go
  cli/cmd/routes.go
  cli/cmd/routes_test.go
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/tap.go
  cli/cmd/tap_test.go
  cni-plugin/test/install-cni_test.go
  controller/api/destination/endpoint_listener_test.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes.go
  controller/api/public/top_routes_test.go
Labels: area/test

#2378 Fix goconst linter breakage following master merge
  web/srv/api_handlers.go
Labels: area/test

#2379 inject: Refactor report-checking from inject logic
  cli/cmd/inject.go
  cli/cmd/inject_util.go
Labels: area/cli

#2366 lint: Enable goimports
  .golangci.yml
  cli/cmd/inject.go
  cli/cmd/inject_util.go
  cli/cmd/logs.go
  cli/cmd/uninject.go
  controller/api/destination/endpoint_listener.go
  controller/api/destination/endpoint_listener_test.go
  controller/api/destination/endpoints_watcher.go
  controller/api/destination/endpoints_watcher_test.go
  controller/api/destination/k8s_resolver_test.go
  controller/api/destination/test_helper.go
  controller/api/public/grpc_server.go
  controller/api/public/stat_summary.go
  controller/api/public/test_helper.go
  controller/api/util/api_utils.go
  controller/api/util/api_utils_test.go
  controller/ca/controller.go
  controller/ca/controller_test.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/proxy-injector/patch_test.go
  controller/tap/server.go
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
  pkg/k8s/api.go
  pkg/k8s/labels.go
  pkg/k8s/labels_test.go
  pkg/k8s/portforward.go
  pkg/profiles/openapi.go
  pkg/profiles/profiles.go
  pkg/profiles/proto.go
  pkg/profiles/tap.go
  testutil/kubernetes_helper.go
Labels: area/test

#2368 lint: Enable unconvert
  .golangci.yml
  pkg/profiles/profiles.go
  pkg/profiles/tap_test.go
Labels: area/test

#2380 Align dashboard nav items
  web/app/js/components/Navigation.jsx
Labels: area/web

#2381 Add note about brew dependency in `build-cli-bin`
  bin/build-cli-bin
Labels: area/build, area/docs

#2349 Authorization-aware control-plane components
  Gopkg.lock
  bin/test-cleanup
  chart/templates/ca.yaml
  chart/templates/controller.yaml
  chart/templates/web.yaml
  cli/Dockerfile-bin
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cni-plugin/Dockerfile
  controller/Dockerfile
  controller/api/destination/server.go
  controller/api/destination/server_test.go
  controller/api/public/grpc_server.go
  controller/api/public/grpc_server_test.go
  controller/api/public/http_server.go
  controller/api/public/stat_summary_test.go
  controller/api/public/test_helper.go
  controller/api/public/top_routes.go
  controller/cmd/ca/main.go
  controller/cmd/destination/main.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/authz.go
  pkg/k8s/authz_test.go
  pkg/k8s/k8s.go
  pkg/k8s/test_helper.go
  pkg/profiles/openapi.go
  pkg/profiles/openapi_test.go
  pkg/profiles/profiles.go
  pkg/profiles/proto.go
  pkg/profiles/proto_test.go
  pkg/profiles/tap.go
  pkg/profiles/tap_test.go
  pkg/profiles/test_helper.go
  proxy-init/Dockerfile
  web/Dockerfile
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/TopRoutes.jsx
  web/main.go
  web/srv/handlers.go
  web/srv/server.go
  web/templates/app.tmpl.html
Labels: area/cli, area/controller, area/install

#2389 Consolidate endpointListener.Update with logging
  controller/api/destination/endpoint_listener.go
Labels: area/controller

#2386 Lessen klog for security
  pkg/flags/flags.go
Labels: area/debug, area/security

#2399 Revert CRD deletion in integration test-cleanup
  bin/test-cleanup
Labels: area/test

#2400 Revert integration test check wait
  test/install_test.go
Labels: area/test

#2369 lint: Enable unparam
  .golangci.yml
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/stat.go
  cli/cmd/stat_test.go
  cli/cmd/top.go
  controller/api/destination/endpoints_watcher_test.go
  controller/api/destination/k8s_resolver_test.go
  controller/api/destination/test_helper.go
  controller/api/public/client_test.go
  controller/api/public/proto_over_http.go
  controller/api/public/proto_over_http_test.go
  controller/api/public/stat_summary.go
  controller/api/public/stat_summary_test.go
  controller/api/public/top_routes.go
  controller/api/util/api_utils.go
  pkg/admin/admin.go
  pkg/version/channels.go
  pkg/version/channels_test.go
Labels: area/test

#2371 destination: Only return TLS identities when appropriate
  cli/cmd/inject.go
  cli/cmd/testdata/inject-filepath/expected/injected_nginx.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_nginx_redis.yaml
  cli/cmd/testdata/inject-filepath/expected/injected_redis.yaml
  cli/cmd/testdata/inject_emojivoto_already_injected.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_controller_name.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_hostNetwork_false.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_no_init_container.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_udp.golden.yml
  cli/cmd/testdata/inject_emojivoto_list.golden.yml
  cli/cmd/testdata/inject_emojivoto_list_empty_resources.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_tls.golden.yml
  cli/cmd/testdata/inject_emojivoto_pod_with_requests.golden.yml
  cli/cmd/testdata/inject_emojivoto_statefulset.golden.yml
  cli/cmd/testdata/inject_gettest_deployment.good.golden.yml
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_no_init_container_auto_inject.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
  cli/cmd/uninject.go
  controller/api/destination/endpoint_listener.go
  controller/api/destination/endpoint_listener_test.go
  controller/api/destination/server.go
  controller/proxy-injector/webhook.go
  pkg/k8s/labels.go
Labels: area/controller, area/identity

#2406 Proxy: bump pinned version to 0fe8063
  bin/docker-build-proxy
Labels: area/proxy

#2410 proxy: bump pinned version to 7e55196
  bin/docker-build-proxy
Labels: area/debug, area/proxy

#2411 Skip outbound port 443 in control-plane
  cli/cmd/install.go
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_single_namespace_output.golden
Labels: area/cli, area/install, bug, priority/P0
