Repository linkerd/linkerd2, pull requests merged in 2019-12, with the labels that each got.

#3646 Add tests for dashboard's new namespace-focused navigation
  web/app/integration/specs/logo-redirect.js
  web/app/integration/specs/namespace-select.js
  web/app/integration/specs/url-routing.js
  web/app/integration/wdio.conf.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#3666 Make resources definition available to dashboard
  pkg/k8s/api.go
  pkg/k8s/k8s.go
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/ApiHelpers.jsx
  web/app/js/components/util/ApiHelpers.test.jsx
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/web

#3737 Update dashboard to React 16.11.0
  web/app/js/components/Navigation.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/index.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#3698 Fix Octopus graph with multiple nodes
  web/app/js/components/Octopus.jsx
  web/app/js/components/util/OctopusArms.jsx
Labels: area/web, priority/P1

#3784 No need for `processYAML()` in `install`
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
Labels: area/cli, area/inject, area/install

#3786 Added unit test for injecting debug sidecar into CP deployment
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_tap_deployment.bad.input.yml
  cli/cmd/testdata/inject_tap_deployment.input.yml
  cli/cmd/testdata/inject_tap_deployment_debug.golden.yml
  cli/cmd/testdata/inject_tap_deployment_debug.report
  cli/cmd/testdata/inject_tap_deployment_debug.report.verbose
Labels: area/inject, area/test

#3806 Pods with non empty securitycontext capabilities fail to be injected
  charts/partials/templates/_capabilities.tpl
  charts/partials/templates/_proxy-init.tpl
  charts/partials/templates/_proxy.tpl
  cli/cmd/inject_test.go
  cli/cmd/testdata/inject_emojivoto_deployment_capabilities.golden.yml
  cli/cmd/testdata/inject_emojivoto_deployment_capabilities.input.yml
Labels: area/inject, bug, priority/P0

#3793 Fix dashboard unit test warning
  web/app/js/components/util/ApiHelpers.test.jsx
Labels: area/web

#3687 Add CronJobs and ReplicaSets to dashboard and CLI
  charts/linkerd2/templates/controller-rbac.yaml
  charts/linkerd2/templates/proxy-injector-rbac.yaml
  charts/linkerd2/templates/tap-rbac.yaml
  cli/cmd/edges.go
  cli/cmd/install_test.go
  cli/cmd/metrics.go
  cli/cmd/stat.go
  cli/cmd/tap.go
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_ha_config.golden
  cli/cmd/top.go
  controller/api/public/stat_summary_test.go
  controller/api/util/api_utils.go
  controller/cmd/proxy-injector/main.go
  controller/cmd/public-api/main.go
  controller/cmd/tap/main.go
  controller/k8s/api.go
  controller/k8s/api_test.go
  controller/k8s/test_helper.go
  controller/tap/handlers.go
  grafana/dashboards/cronjob.json
  grafana/dashboards/replicaset.json
  pkg/inject/inject.go
  pkg/k8s/k8s.go
  pkg/k8s/k8s_test.go
  pkg/k8s/labels.go
  web/app/js/components/Namespace.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/util/SvgWrappers.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/Utils.js
  web/app/js/index.js
  web/srv/server.go
Labels: area/web, priority/P0

#3795 Enable cert rotation test to work with dynamic namespaces, take two
  bin/test-run
  test/externalissuer/external_issuer_test.go
  test/externalissuer/testdata/issuer_secret_2.yaml
  test/install_test.go
  test/testdata/issuer_secret_1.yaml
  testutil/kubernetes_helper.go
  testutil/test_helper.go
Labels: area/test

#3820 Update enzyme-adapter-react-16 library
  web/app/js/components/BaseTable.test.js
  web/app/js/components/MetricsTable.test.js
  web/app/js/components/Navigation.test.jsx
  web/app/js/components/TopRoutesTable.test.js
  web/app/js/components/Version.test.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#3826 Upgrade yarn and add network-concurrency flag
  .github/workflows/workflow.yml
  web/Dockerfile
Labels: area/build

#3782 Add some unit tests for namespace select button
  web/app/js/components/BaseTable.test.js
  web/app/js/components/Navigation.test.jsx
  web/app/js/components/util/Utils.test.js
Labels: area/web, priority/P1

#3783 Fix issue with grid for Tap/Top form
  web/app/js/components/TapQueryForm.jsx
Labels: area/web, priority/P1

#3834 Fix issue with Community iframe height
  web/app/js/components/Community.jsx
Labels: area/web

#3832 Pluralize dashboard breadcrumbs if appropriate
  web/app/js/components/BreadcrumbHeader.jsx
  web/app/js/components/BreadcrumbHeader.test.jsx
Labels: area/web

#3769 Cache StatSummary responses in dashboard web server
  Dockerfile-proxy
  cli/Dockerfile-bin
  cni-plugin/Dockerfile
  controller/Dockerfile
  go.mod
  go.sum
  web/Dockerfile
  web/srv/api_handlers.go
  web/srv/handlers.go
Labels: area/web, priority/P1

#3710 Update dashboard to Material 4
  web/app/js/components/BaseTable.jsx
  web/app/js/components/BaseTable.test.js
  web/app/js/components/CallToAction.jsx
  web/app/js/components/CheckModal.jsx
  web/app/js/components/ConfigureProfilesMsg.jsx
  web/app/js/components/EmptyCard.jsx
  web/app/js/components/ErrorBanner.jsx
  web/app/js/components/ExpandableTable.jsx
  web/app/js/components/MeshedStatusTable.jsx
  web/app/js/components/MetricsTable.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/Navigation.test.jsx
  web/app/js/components/Octopus.jsx
  web/app/js/components/Popover.jsx
  web/app/js/components/QueryToCliCmd.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/StatusTable.jsx
  web/app/js/components/TapEventHeadersTable.jsx
  web/app/js/components/TapEventTable.jsx
  web/app/js/components/TapQueryForm.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/TopRoutesTabs.jsx
  web/app/js/components/Version.jsx
  web/app/js/components/util/Accordion.jsx
  web/app/js/components/util/CopyUtils.jsx
  web/app/js/components/util/SuccessRateDot.jsx
  web/app/js/components/util/SuccessRateMiniChart.jsx
  web/app/js/components/util/TapUtils.jsx
  web/app/js/components/util/theme.js
  web/app/package.json
  web/app/yarn.lock
Labels: area/web, priority/P1

#3773 Pause dashboard network activity when page is hidden
  web/app/js/components/Namespace.jsx
  web/app/js/components/Navigation.jsx
  web/app/js/components/ResourceDetail.jsx
  web/app/js/components/ServiceMesh.jsx
  web/app/js/components/Tap.jsx
  web/app/js/components/Top.jsx
  web/app/js/components/TopRoutes.jsx
  web/app/js/components/util/PageVisibility.jsx
  web/app/js/components/util/withREST.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web, priority/P1

#3841 Fix spacing unit to new MUI v4 format
  web/app/js/components/TapQueryForm.jsx
Labels: area/web

#3701 Increase the comprehensiveness of check --pre
  cli/cmd/check.go
  pkg/healthcheck/healthcheck.go
  pkg/k8s/api.go
  test/testdata/check.pre.golden
Labels: area/cli, priority/P1

#3844 Fix dense mode for MUI v4 Table
  web/app/js/components/Octopus.jsx
Labels: area/web

#3847 Add recommended k8s labels to control-plane
  charts/linkerd2/templates/controller.yaml
  charts/linkerd2/templates/destination.yaml
  charts/linkerd2/templates/grafana.yaml
  charts/linkerd2/templates/heartbeat.yaml
  charts/linkerd2/templates/identity.yaml
  charts/linkerd2/templates/prometheus.yaml
  charts/linkerd2/templates/proxy-injector.yaml
  charts/linkerd2/templates/sp-validator.yaml
  charts/linkerd2/templates/tap.yaml
  charts/linkerd2/templates/web.yaml
  cli/cmd/testdata/install_control-plane.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/upgrade_default.golden
  cli/cmd/testdata/upgrade_external_issuer.golden
  cli/cmd/testdata/upgrade_ha.golden
  cli/cmd/testdata/upgrade_overwrite_issuer.golden
  cli/cmd/testdata/upgrade_overwrite_trust_anchors-external-issuer.golden
  cli/cmd/testdata/upgrade_overwrite_trust_anchors.golden
Labels: area/inject, priority/P1

#3850 Updating the namespace change button with the Autocomplete MUI component
  web/app/js/components/Navigation.jsx
  web/app/js/components/Navigation.test.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/debug, area/web

#3736 Classify some gRPC status codes as non-errors
  cli/cmd/top.go
  web/app/js/components/TopModule.jsx
Labels: priority/P1

#3824 When running `kind load` in the build host, don't ignore `ssh`'s stderr
  .github/workflows/workflow.yml
Labels: area/build

#3846 Build linkerd2-cni Helm chart in `bin/helm-build`
  bin/helm-build
Labels: area/install

#3768 Avoid fetching data not needed in dashboard (II)
  web/app/js/components/ResourceDetail.jsx
Labels: area/web, priority/P1

#3865 Upgraded `Helm` cli to v2.16.1
  bin/helm
Labels: area/build

#3864 Upgrade `kind` to v0.6.1
  .github/workflows/workflow.yml
  bin/kind
Labels: area/build
