Repository linkerd/linkerd2, pull requests merged in 2020-07, with the labels that each got.

#4744 Fix upgrade integration test
  test/integration/install_test.go
Labels: area/test

#4748 Increased node count for the GKE tests in release.yml
  .github/workflows/release.yml
Labels: area/build, area/test

#4728 Helm integration deep tests
  .github/workflows/kind_integration.yml
  .github/workflows/release.yml
  bin/_test-helpers.sh
  test/integration/inject/inject_test.go
  test/integration/install_test.go
  testutil/test_helper.go
Labels: area/test

#4750 Fix cloud integration workflow
  bin/_test-helpers.sh
Labels: area/test

#4769 Fix build status badge in README
  .github/workflows/kind_integration.yml
  .github/workflows/release.yml
  README.md
Labels: area/build

#4821 Reenable `upgrade-edge` integration test
  .github/workflows/kind_integration.yml
  .github/workflows/release.yml
  bin/_test-helpers.sh
Labels: area/test
