Repository linkerd/linkerd2, pull requests merged in 2020-01, with the labels that each got.

#3866 The `linkerd-cni` chart should set proper annotations/labels for the namespace
  charts/linkerd2-cni/templates/cni-plugin.yaml
  charts/linkerd2-cni/values.yaml
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install_cni_helm_output.golden
  pkg/charts/cni/values.go
Labels: area/cni, area/install

#3884 Add event regex to ignore in integration test
  test/install_test.go
Labels: area/test

#3875 Use `kind export kubeconfig` instead of `scp`
  .github/workflows/workflow.yml
Labels: area/build

#3883 Fix race condition in web service
  web/srv/api_handlers.go
  web/srv/server.go
Labels: area/controller, area/web, bug

#3891 Ensure browser cache does not store `index_bundle.js`
  web/srv/server.go
Labels: area/web, priority/P0

#3889 Upgraded actions/checkout to v2
  .github/workflows/workflow.yml
Labels: area/build

#3894 Fix Helm install when disabling init containers (the real deal)
  charts/linkerd2/templates/_config.tpl
Labels: area/inject, area/install

#3970 Use `t.Name()` instead of `t.Name` in tests
  controller/api/destination/endpoint_translator_test.go
  controller/api/destination/profile_translator_test.go
  controller/api/destination/server_test.go
  controller/api/destination/watcher/endpoints_watcher_test.go
  controller/api/destination/watcher/ip_watcher_test.go
  controller/api/destination/watcher/profile_watcher_test.go
  controller/api/destination/watcher/traffic_split_watcher_test.go
  controller/tap/handlers_test.go
Labels: area/test
