Repository linkerd/linkerd2, pull requests merged in 2021-08, with the labels that each got.

#6593 Fix Create Release step in release workflow
  .github/workflows/release.yml
Labels: area/build

#6670 Add missing policy-controller entry in docker_build job for release.yml
  .github/workflows/release.yml
Labels: area/build

#6638 Remove namespace from linkerd2-viz chart
  bin/test-cleanup
  test/integration/install_test.go
  viz/charts/linkerd-viz/README.md
  viz/charts/linkerd-viz/templates/grafana-rbac.yaml
  viz/charts/linkerd-viz/templates/grafana.yaml
  viz/charts/linkerd-viz/templates/metrics-api-rbac.yaml
  viz/charts/linkerd-viz/templates/metrics-api.yaml
  viz/charts/linkerd-viz/templates/namespace-metadata-rbac.yaml
  viz/charts/linkerd-viz/templates/namespace-metadata.yaml
  viz/charts/linkerd-viz/templates/namespace.yaml
  viz/charts/linkerd-viz/templates/prometheus-rbac.yaml
  viz/charts/linkerd-viz/templates/prometheus.yaml
  viz/charts/linkerd-viz/templates/psp.yaml
  viz/charts/linkerd-viz/templates/service-profiles.yaml
  viz/charts/linkerd-viz/templates/tap-injector-rbac.yaml
  viz/charts/linkerd-viz/templates/tap-injector.yaml
  viz/charts/linkerd-viz/templates/tap-rbac.yaml
  viz/charts/linkerd-viz/templates/tap.yaml
  viz/charts/linkerd-viz/templates/web-rbac.yaml
  viz/charts/linkerd-viz/templates/web.yaml
  viz/charts/linkerd-viz/values.yaml
  viz/cmd/install.go
  viz/cmd/root.go
  viz/cmd/testdata/install_default.golden
  viz/cmd/testdata/install_default_overrides.golden
  viz/cmd/testdata/install_grafana_disabled.golden
  viz/cmd/testdata/install_prometheus_disabled.golden
  viz/cmd/testdata/install_prometheus_loglevel_from_args.golden
  viz/cmd/testdata/install_proxy_resources.golden
Labels: area/helm

#6643 Remove namespace from linkerd2-cni chart
  charts/linkerd2-cni/README.md
  charts/linkerd2-cni/templates/cni-plugin.yaml
  charts/linkerd2-cni/values.yaml
  cli/cmd/install-cni-plugin.go
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_no_namespace.golden
  cli/cmd/testdata/install_cni_helm_default_output.golden
  cli/cmd/testdata/install_cni_helm_override_output.golden
  pkg/charts/charts.go
  pkg/charts/cni/values.go
Labels: area/helm

#6665 Remove namespace from multicluster charts
  bin/helm-build
  bin/test-cleanup
  multicluster/charts/linkerd-multicluster-link/README.md
  multicluster/charts/linkerd-multicluster-link/requirements.lock
  multicluster/charts/linkerd-multicluster-link/requirements.yaml
  multicluster/charts/linkerd-multicluster-link/templates/gateway-mirror.yaml
  multicluster/charts/linkerd-multicluster-link/templates/psp.yaml
  multicluster/charts/linkerd-multicluster-link/templates/service-mirror.yaml
  multicluster/charts/linkerd-multicluster-link/values.yaml
  multicluster/charts/linkerd-multicluster/README.md
  multicluster/charts/linkerd-multicluster/templates/gateway.yaml
  multicluster/charts/linkerd-multicluster/templates/namespace-metadata-rbac.yaml
  multicluster/charts/linkerd-multicluster/templates/namespace-metadata.yaml
  multicluster/charts/linkerd-multicluster/templates/namespace.yaml
  multicluster/charts/linkerd-multicluster/templates/psp.yaml
  multicluster/charts/linkerd-multicluster/templates/remote-access-service-mirror-rbac.yaml
  multicluster/charts/linkerd-multicluster/values.yaml
  multicluster/cmd/allow.go
  multicluster/cmd/install.go
  multicluster/cmd/link.go
  multicluster/values/values.go
  pkg/charts/charts.go
  test/integration/install_test.go
  testutil/test_helper.go
Labels: area/helm, area/multicluster

#6669 Remove namespace from linkerd-jaeger chart
  jaeger/charts/linkerd-jaeger/README.md
  jaeger/charts/linkerd-jaeger/templates/jaeger-injector.yaml
  jaeger/charts/linkerd-jaeger/templates/namespace-metadata-rbac.yaml
  jaeger/charts/linkerd-jaeger/templates/namespace-metadata.yaml
  jaeger/charts/linkerd-jaeger/templates/namespace.yaml
  jaeger/charts/linkerd-jaeger/templates/psp.yaml
  jaeger/charts/linkerd-jaeger/templates/rbac.yaml
  jaeger/charts/linkerd-jaeger/templates/tracing.yaml
  jaeger/charts/linkerd-jaeger/values.yaml
  jaeger/cmd/install.go
  jaeger/cmd/root.go
  jaeger/cmd/testdata/install_collector_disabled.golden
  jaeger/cmd/testdata/install_default.golden
  jaeger/cmd/testdata/install_jaeger_disabled.golden
Labels: area/helm

#6736 Remove `windows_static_cli_tests` from `integration_tests.yml`
  .github/workflows/integration_tests.yml
Labels: area/test

#6774 Filter default opaque ports for pods and services
  controller/proxy-injector/fake/data/filter-pod-opaque-ports.yaml
  controller/proxy-injector/fake/data/filter-service-opaque-ports.yaml
  controller/proxy-injector/fake/data/filtered-pod-opaque-ports.json
  controller/proxy-injector/fake/data/filtered-service-opaque-ports.json
  controller/proxy-injector/webhook.go
  controller/proxy-injector/webhook_test.go
  pkg/healthcheck/healthcheck_labels.go
  pkg/inject/inject.go
  pkg/util/parsing.go
Labels: area/injector
