Repository linkerd/linkerd2, pull requests merged in 2021-01, with the labels that each got.

#5442 Update bin/web script to take into account linkerd-viz
  bin/web
Labels: area/web

#5483 Upgrade k3d to v3.4.0
  bin/k3d
Labels: area/test

#5491 Cleanup dependencies in bin/helm-build
  bin/helm-build
Labels: area/build

#5567 Fix `linkerd metrics` resource selector
  cli/cmd/metrics.go
Labels: area/cli
