Repository linkerd/linkerd2, pull requests merged in 2021-09, with the labels that each got.

#6782 Introduce LINKERD_DOCKER_REGISTRY and flexibilize CI workflows
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  cli/cmd/inject_test.go
  cli/cmd/install-cni-plugin.go
  cli/cmd/options.go
  cli/cmd/root.go
  cli/cmd/testdata/install_custom_registry.golden
  cli/flag/flag.go
  jaeger/cmd/install.go
  jaeger/cmd/install_test.go
  multicluster/cmd/link.go
  pkg/cmd/cmd.go
  pkg/flags/flags.go
  test/integration/inject/inject_test.go
  test/integration/install_test.go
  viz/cmd/install.go
Labels: area/cli, area/build, area/test

#6800 Fix warning in dashboard
  pkg/k8s/api.go
  web/srv/api_handlers.go
Labels: area/web

#6794 Remove some duplication in CI using composite actions
  .github/actions/docker-build/action.yml
  .github/actions/helm-publish/action.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
Labels: area/build

#6886 Add default policy annotation to linkerd-identity
  charts/linkerd2/templates/identity.yaml
  cli/cmd/testdata/install_controlplane_tracing_output.golden
  cli/cmd/testdata/install_custom_domain.golden
  cli/cmd/testdata/install_custom_registry.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_default_override_dst_get_nets.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_heartbeat_disabled_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_helm_output_ha_labels.golden
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_proxy_ignores.golden
  cli/cmd/testdata/install_values_file.golden
Labels: area/policy

#6801 opaque ports check: consider service and pod ports when checking annotation values
  pkg/healthcheck/healthcheck.go
  pkg/healthcheck/healthcheck_test.go
Labels: area/cli

#6846 Default policies for extensions
  bin/helm-build
  jaeger/charts/linkerd-jaeger/templates/jaeger-injector-policy.yaml
  jaeger/charts/linkerd-jaeger/templates/proxy-admin-policy.yaml
  jaeger/charts/linkerd-jaeger/templates/tracing-policy.yaml
  jaeger/charts/linkerd-jaeger/templates/tracing.yaml
  jaeger/cmd/install.go
  jaeger/cmd/testdata/install_collector_disabled.golden
  jaeger/cmd/testdata/install_default.golden
  jaeger/cmd/testdata/install_jaeger_disabled.golden
  multicluster/charts/linkerd-multicluster-link/templates/service-mirror-policy.yaml
  multicluster/charts/linkerd-multicluster-link/templates/service-mirror.yaml
  multicluster/charts/linkerd-multicluster/templates/gateway-policy.yaml
  multicluster/charts/linkerd-multicluster/templates/gateway.yaml
  multicluster/charts/linkerd-multicluster/templates/proxy-admin-policy.yaml
  multicluster/cmd/install.go
  multicluster/cmd/link.go
  test/integration/testdata/inject.report.golden
  test/integration/testdata/smoke_test.yaml
  viz/charts/linkerd-viz/templates/admin-policy.yaml
  viz/charts/linkerd-viz/templates/grafana-policy.yaml
  viz/charts/linkerd-viz/templates/metrics-api-policy.yaml
  viz/charts/linkerd-viz/templates/proxy-admin-policy.yaml
  viz/charts/linkerd-viz/templates/tap-injector-policy.yaml
  viz/charts/linkerd-viz/templates/tap-policy.yaml
  viz/cmd/install.go
  viz/cmd/testdata/install_default.golden
  viz/cmd/testdata/install_default_overrides.golden
  viz/cmd/testdata/install_grafana_disabled.golden
  viz/cmd/testdata/install_prometheus_disabled.golden
  viz/cmd/testdata/install_prometheus_loglevel_from_args.golden
  viz/cmd/testdata/install_proxy_resources.golden
Labels: area/policy

#6930 Remove jest-enzyme dependency
  web/app/js/components/QueryToCliCmd.test.jsx
  web/app/js/components/ServiceMesh.test.jsx
  web/app/js/components/Version.test.js
  web/app/js/components/util/ApiHelpers.test.jsx
  web/app/package.json
  web/app/yarn.lock
Labels: area/web

#6954 Trigger destination restart upon every upgrade
  charts/linkerd2/templates/destination.yaml
  cli/cmd/testdata/install_controlplane_tracing_output.golden
  cli/cmd/testdata/install_custom_domain.golden
  cli/cmd/testdata/install_custom_registry.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_default_override_dst_get_nets.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_heartbeat_disabled_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_helm_output_ha_labels.golden
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_proxy_ignores.golden
  cli/cmd/testdata/install_values_file.golden
Labels: area/policy

#6932 Fix policy validator namespaceSelector
  charts/linkerd2/templates/destination-rbac.yaml
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
Labels: area/policy

#6931 New integration test default-policy-deny
  bin/_test-helpers.sh
  test/integration/install_test.go
  testutil/test_helper.go
Labels: area/test, area/policy

#6960 Fix unit tests in `main`
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
Labels: area/test

#6916 Update CLI upgrade help docs
  cli/cmd/upgrade.go
Labels: area/cli

#6963 More unit test fixes
  cli/cmd/testdata/install_controlplane_tracing_output.golden
  cli/cmd/testdata/install_custom_domain.golden
  cli/cmd/testdata/install_custom_registry.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_default_override_dst_get_nets.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_heartbeat_disabled_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_helm_output_ha_labels.golden
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_proxy_ignores.golden
  cli/cmd/testdata/install_values_file.golden
Labels: area/test
