Repository linkerd/linkerd2, pull requests merged in 2021-02, with the labels that each got.

#5714 Replace Addons section with Extensions in main chart README
  charts/linkerd2/README.md
  charts/linkerd2/README.md.gotmpl
Labels: area/helm

#5738 Add --skip-cluster-delete flag to bin/tests
  bin/_test-helpers.sh
Labels: area/test

#5760 Full SHA for github action
  .github/workflows/static_checks.yml
Labels: area/build

#5761 Report extension usage
  charts/linkerd2/templates/heartbeat-rbac.yaml
  cli/cmd/testdata/install_config.golden
  cli/cmd/testdata/install_controlplane_tracing_output.golden
  cli/cmd/testdata/install_custom_domain.golden
  cli/cmd/testdata/install_custom_registry.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_default_override_dst_get_nets.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_helm_output.golden
  cli/cmd/testdata/install_helm_output_ha.golden
  cli/cmd/testdata/install_helm_output_ha_labels.golden
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_proxy_ignores.golden
  cli/cmd/testdata/install_values_file.golden
  controller/heartbeat/heartbeat.go
  controller/heartbeat/heartbeat_test.go
Labels: area/controller, priority/P0

#5769 Flag -L in 'viz install' should be synced to its Helm value
  viz/cmd/install.go
Labels: area/cli, area/install

#5781 Properly list orphaned resources when attempting to run integration tests
  bin/_test-helpers.sh
Labels: area/test

#5783 Fix 'linkerd install' current installs detection
  cli/cmd/install.go
Labels: area/install, bug

#5791 Stop loading cli-bin in bin/image-load
  bin/image-load
Labels: area/build

#5796 Re-enable ARM integration tests
  .github/workflows/release.yml
Labels: area/build, area/test

#5812 Only run deep integration test in ARM
  .github/workflows/release.yml
Labels: area/build, area/test
