Repository linkerd/linkerd2, pull requests merged in 2022-02, with the labels that each got.

#7718 Fix HA race when installing through Helm
  charts/linkerd-control-plane/README.md
  charts/linkerd-control-plane/templates/proxy-injector-rbac.yaml
  charts/linkerd-control-plane/values.yaml
  charts/linkerd2-cni/templates/cni-plugin.yaml
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_no_namespace.golden
  cli/cmd/testdata/install-cni-plugin_skip_ports.golden
  cli/cmd/testdata/install_cni_helm_default_output.golden
  cli/cmd/testdata/install_cni_helm_override_output.golden
  cli/cmd/testdata/install_controlplane_tracing_output.golden
  cli/cmd/testdata/install_custom_domain.golden
  cli/cmd/testdata/install_custom_registry.golden
  cli/cmd/testdata/install_default.golden
  cli/cmd/testdata/install_default_override_dst_get_nets.golden
  cli/cmd/testdata/install_default_token.golden
  cli/cmd/testdata/install_ha_output.golden
  cli/cmd/testdata/install_ha_with_overrides_output.golden
  cli/cmd/testdata/install_heartbeat_disabled_output.golden
  cli/cmd/testdata/install_helm_control_plane_output.golden
  cli/cmd/testdata/install_helm_control_plane_output_ha.golden
  cli/cmd/testdata/install_helm_output_ha_labels.golden
  cli/cmd/testdata/install_helm_output_ha_namespace_selector.golden
  cli/cmd/testdata/install_no_init_container.golden
  cli/cmd/testdata/install_output.golden
  cli/cmd/testdata/install_proxy_ignores.golden
  cli/cmd/testdata/install_values_file.golden
  multicluster/charts/linkerd-multicluster-link/templates/service-mirror.yaml
  multicluster/charts/linkerd-multicluster/templates/gateway.yaml
  multicluster/charts/linkerd-multicluster/templates/proxy-admin-policy.yaml
  multicluster/charts/linkerd-multicluster/templates/service-mirror-policy.yaml
  multicluster/cmd/testdata/install_default.golden
  multicluster/cmd/testdata/install_ha.golden
  multicluster/cmd/testdata/install_psp.golden
  pkg/charts/linkerd2/values_test.go
  viz/charts/linkerd-viz/templates/prometheus.yaml
  viz/cmd/testdata/install_default.golden
  viz/cmd/testdata/install_default_overrides.golden
  viz/cmd/testdata/install_prometheus_loglevel_from_args.golden
  viz/cmd/testdata/install_proxy_resources.golden
Labels: area/ha, area/helm

#7787 Split policy CRDs into separate files
  charts/linkerd-crds/templates/policy/server.yaml
  charts/linkerd-crds/templates/policy/serverauthorization.yaml
  charts/linkerd-crds/templates/serviceprofile.yaml
  cli/cmd/install.go
  cli/cmd/testdata/install_helm_crds_output.golden
  cli/cmd/testdata/install_helm_crds_output_ha.golden
Labels: area/install, area/helm

#7836 identity: Use SHA256 fingerprints in events
  pkg/identity/service.go
Labels: area/security, area/identity, go

#7825 multicluster: Fix metadata prefix matching
  multicluster/service-mirror/events_formatting.go
Labels: go

#7823 Fix redundant error handling
  jaeger/cmd/check.go
  multicluster/service-mirror/cluster_watcher.go
  pkg/healthcheck/healthcheck.go
  viz/cmd/tap.go
  viz/pkg/healthcheck/healthcheck.go
Labels: go

#7838 cli: Only bind ephemeral ports on localhost
  pkg/k8s/portforward.go
Labels: area/cli, area/security, go
