Repository linkerd/linkerd2, pull requests merged in 2022-01, with the labels that each got.

#7660 Fix CNI integration test
  cni-plugin/test/data/env_vars.list
  cni-plugin/test/data/env_vars.sh
  cni-plugin/test/install-cni_test.go
Labels: area/test

#7657 devcontainer: Use dev:v5
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: area/build

#7664 Fix log forgery issues in production-facing code
  test/integration/tap/tap_test.go
  viz/metrics-api/http_server.go
  viz/metrics-api/prometheus.go
  viz/metrics-api/stat_summary.go
  viz/tap/api/grpc_server.go
  viz/tap/api/grpc_server_test.go
  viz/tap/api/handlers.go
  viz/tap/api/handlers_test.go
  viz/tap/pkg/protohttp.go
Labels: area/security, go

#7652 Remove sleep values from opaque test manifests
  test/integration/opaqueports/opaque_ports_test.go
  test/integration/opaqueports/testdata/opaque_ports_application.yaml
  test/integration/opaqueports/testdata/opaque_ports_client.yaml
Labels: area/test, area/test/flakey

#7719 Add `privileged` setting to linkerd-cni
  charts/linkerd2-cni/README.md
  charts/linkerd2-cni/templates/cni-plugin.yaml
  charts/linkerd2-cni/values.yaml
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_no_namespace.golden
  cli/cmd/testdata/install-cni-plugin_skip_ports.golden
  cli/cmd/testdata/install_cni_helm_default_output.golden
  cli/cmd/testdata/install_cni_helm_override_output.golden
Labels: area/cni

#7698 Reload TLS credentials in policy validator
  Cargo.lock
  policy-controller/Cargo.toml
  policy-controller/src/admission.rs
  policy-controller/src/main.rs
Labels: rust, area/policy
