Repository linkerd/linkerd2, pull requests merged in 2023-01, with the labels that each got.

#10047 Reenable `helm-upgrade` integration test
  .github/workflows/integration.yml
  .github/workflows/release.yml
  bin/_test-helpers.sh
  test/cli/cli_install_static_test.go
  test/integration/install/install_test.go
  testutil/test_helper.go
Labels: area/test, area/helm

#10155 Support loadBalancerSourceRanges in gateway service #10154
  multicluster/charts/linkerd-multicluster/README.md
  multicluster/charts/linkerd-multicluster/templates/gateway.yaml
  multicluster/charts/linkerd-multicluster/values.yaml
Labels: area/multicluster

#10185 Otel collector pushes Tags as "host.name" for all formats
  web/app/js/components/JaegerLink.jsx
Labels: area/tracing, area/viz
