Repository linkerd/linkerd2, pull requests merged in 2023-02, with the labels that each got.

#10177 Add multicluster gateway nodeSelector and tolerations helm parameters
  multicluster/charts/linkerd-multicluster/README.md
  multicluster/charts/linkerd-multicluster/templates/gateway.yaml
  multicluster/charts/linkerd-multicluster/values.yaml
Labels: area/multicluster

#10186 Support service internal traffic policy
  controller/api/destination/endpoint_translator.go
  controller/api/destination/endpoint_translator_test.go
  controller/api/destination/watcher/endpoints_watcher.go
  controller/api/destination/watcher/endpoints_watcher_test.go
Labels: area/controller, priority/triage

#10209 linkerd-cni: add new release to the build
  RELEASE.md
  bin/_docker.sh
  bin/docker-build
  charts/linkerd2-cni/README.md
  charts/linkerd2-cni/templates/cni-plugin.yaml
  charts/linkerd2-cni/values.yaml
  charts/partials/templates/_metadata.tpl
  cli/cmd/install-cni-plugin.go
  cli/cmd/install-cni-plugin_test.go
  cli/cmd/install_cni_helm_test.go
  cli/cmd/testdata/install-cni-plugin_default.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_equal_dsts.golden
  cli/cmd/testdata/install-cni-plugin_fully_configured_no_namespace.golden
  cli/cmd/testdata/install-cni-plugin_skip_ports.golden
  cli/cmd/testdata/install_cni_helm_default_output.golden
  cli/cmd/testdata/install_cni_helm_override_output.golden
  cni-plugin/test/install-cni_test.go
  justfile
  pkg/charts/cni/values.go
  pkg/healthcheck/healthcheck_test.go
  pkg/version/version.go
Labels: area/cni
